[2020-04-19 13:24] ericlewis opened #23 "Setup CI"
Automate delivery to TF. Use github actions / fastlane.

[2020-04-19 13:25] ericlewis opened #24 "Turnips"
This issue will be a master list of ideas for turnips. No particular order or priorities.

- Turnip Calculator
- Turnip Charts
- Push notices
- Turnip Exchange

[2020-04-19 13:26] ericlewis opened #25 "Push notices"
This is a general issue to capture push notice ideas. These can all be done locally, but need to be based on the island time.

- when shops open / close
- special events (sprint fishing tourney)
- turnip price changes or events

[2020-04-19 13:27] ericlewis opened #26 "User data capture"
We need to collect certain pieces of data to understand how to feed other features

- island time
- native fruit
- hemisphere
- infrastructure (able sisters shop, resident service building, etc)

[2020-04-19 13:28] ericlewis opened #27 "Alternative icon picker"
We have lots of icons! We need to support being able to choose alternatives.

- convert images
- setup in project
- build UI under settings view

[2020-04-19 15:12] Dimillian commented on #27
Can you package me all your icons ? Will look how to do it after.

[2020-04-19 16:53] Dimillian opened #30 "Item detail"
- [ ]  Link to Recipe

[2020-04-20 01:15] ericlewis commented on #30
Recipe if applicable

[2020-04-20 01:16] ericlewis opened #31 "Events"
Surface info about events coming up / on the day.

[2020-04-20 01:16] ericlewis commented on #27
https://t.co/lMz80OMtzB

[2020-04-21 07:16] Dimillian opened #34 "Make the app playful"
* [x] Make star button having feedback and animation
* [ ] Make dashboard a little more rounded (headers maybe?)
* [ ] Add animation to item detail when opening the view
* [ ] Maybe some parallax on item detail?
* [ ] More

[2020-04-21 16:16] vvalembois opened #35 "iOS Version"
Hi,

I think that the restriction of the iOS version which must be the last one (13.4.1) is too restrictive.

Doesn't it seem better to have a minimum version of 13.0.0 ?

Regards

[2020-04-21 16:16] vvalembois opened #36 "iOS Version"
Hi,

I think that the restriction of the iOS version which must be the last one (13.4.1) is too restrictive.

Doesn't it seem better to have a minimum version of 13.0.0 ?

Regards

[2020-04-21 16:17] vvalembois opened #37 "IOS version"
Hi,

I think that the restriction of the iOS version which must be the last one (13.4.1) is too restrictive.

Doesn't it seem better to have a minimum version of 13.0.0?

Regards

[2020-04-21 17:33] #36 closed

[2020-04-21 17:33] #35 closed

[2020-04-21 17:33] Dimillian commented on #37
Reduced ap

[2020-04-21 17:34] Dimillian commented on #37
Reduced base version to iOS 13.0
Thanks for the issue!

[2020-04-21 17:34] #37 closed

[2020-04-21 17:37] renaudjenny opened #38 "Crash when trying to touch something in a list after using text field on macOS"
It seems that my fix to dismiss automatically the keyboard lead to a crash on macOS :(

I think I will add some `#if os(macOS)` on the ViewModifier as there is no keyboard that pops, so no need to apply the ViewModifier there.

[2020-04-21 17:44] Dimillian commented on #38
Yup you should actually. Our catalyst build works because it was literally one toggle. Apple didn't lied. But it's not really supported yet. But as we don't have soft keyboard on mac I guess you should disable it on macOS right :)

[2020-04-21 18:52] #38 closed

[2020-04-21 19:12] vvalembois opened #40 "Flashing"
Hi,

There is a flashing when changing views through the tabBarController isn't there any way to make a small animation?

Regards

PS: Sorry for the multiple issue regarding the iOS version, the github mobile application told me that the issue was not created.

[2020-04-21 21:18] renaudjenny opened #41 "Navigation Title and item ghosts remain after partially been navigated back"
It's happening when using the "go back" gesture (swipe from left of the screen to the centre). No problems when tapping on the go back button though.

![image](https://user-images.githubusercontent.com/2297556/79914941-fce4ea00-841d-11ea-968e-75918ec29577.png)

[2020-04-22 05:30] Dimillian commented on #41
I'll call SwiftUI bug on this one :/

[2020-04-22 05:38] izayl opened #43 "Build Error"
Env
[code]
![image](https://user-images.githubusercontent.com/10740043/79944500-4117cf00-849e-11ea-8b19-d98e2af7026f.png)

[2020-04-22 06:01] renaudjenny commented on #43
Could you try to go to File -> Swift Packages -> Update to Latest Package Versions

It happens to me sometimes when I just checkout a project, open with Xcode and press the build button too quickly :D

![image](https://user-images.githubusercontent.com/2297556/79945964-ec0c9680-8466-11ea-87ef-c291a1fa72bc.png)

Also, I use Xcode 11.4.1. But I don't think it's related with your issue. Tell me if th

[2020-04-22 06:05] renaudjenny commented on #41
That's what I thought :(. Hope they will fix it in SwiftUI 2!

[2020-04-22 06:19] Dimillian commented on #43
Also I think you need Xcode 11.4 / 11.4.1

[2020-04-22 06:39] bigrck64 commented on #43
Hey guys, I also can not build the project ! Maybe you can help :)
- macOS Mojave 10.14.6
- xCode 11.3.1

1/ git clone --recursive git://github.com/Dimillian/ACHNBrowserUI.git
2/ open ACHNBrowserUI.xcodeproj
3/ wait for Swift Package Dependencies to update
4/ force File > Swift Packages > Update to Latest Package Versions (just to be sure)
5/ change Signing & Capabilities to my dev Provisioning Pr

[2020-04-22 07:04] Dimillian commented on #43
Really weird. Tried relaunching Xcode?

[2020-04-22 07:11] Dimillian commented on #43
Maybe try with last commit. I've locked ACNHEvents version.

[2020-04-22 07:54] bigrck64 commented on #43
Hey Dimillian, thanks for the quick reply.
With fixed version of "1.1.0" I still have the same problem.
It's weird, it's like xcode internal git is just failing to find the correct tag.
![image](https://user-images.githubusercontent.com/9383270/79955517-339f1c80-847f-11ea-974a-fe3d24b2defd.png)

Maybe it's because I updated my git binary with brew ?
I'm currently downloading Xcode 11.4.1, maybe it

[2020-04-22 08:00] bigrck64 commented on #43
brew uninstall git > reboot > retry don't change anything.
I will report with xcode 11.4.1 when installed.

[2020-04-22 08:42] bigrck64 commented on #43
Well, I didn't know xcode 11.4.1 would need macOS 10.15.2 or later :(
![image](https://user-images.githubusercontent.com/9383270/79960367-9b586600-8485-11ea-9253-8ca69302e53e.png)

Dimillian, maybe your can build one .ipa and post it to release github page ?
I don't plan to update to 10.15 right now :)

[2020-04-22 10:36] Dimillian commented on #43
You can join the testflight I guess then :) https://testflight.apple.com/join/AOM2G5Nx

[2020-04-22 11:12] izayl commented on #43
@Dimillian Thanks, It works when I pull the latest commit `51fef70861`.

For anyone who has the same issue:

1. `git pull` to the latest commit SHA-1: 51fef70861

2. `open ACHNBrowserUI.xcodeproj `

3. Choose  File -> Swift Packages -> Update to Latest Package Versions

4. wait to all package resolved like this
![image](https://user-images.githubusercontent.com/10740043/79975214-345e9f80-84cd-11ea

[2020-04-22 12:23] bigrck64 commented on #43
Good new Izayl ! and you build it successfully with Xcode 11.2.1 !
Well, there must be a problem somewhere with macOS 10.14 vs 10.15 :(

Thanks for the testflight link Dimillian, I will use this :+1:

[2020-04-22 14:19] bigrck64 opened #44 "Language chooser ?"
As you know, the http://acnhapi.com/ can display any catalog item in the correct localisation.
Would it be possible to add on option to let user choose the database language ?

[2020-04-22 15:21] Dimillian commented on #44
For items we use a local catalog dump, which for now is english only. In the mid/long I think we'll need to localize it fully. For villagers I'll display their name in your local language if available quite soon as we have the info from acnhapi yeah :)
And for the rest of the app, the UI, anyone is welcome to do a PR do make it available :)

[2020-04-22 16:42] ericlewis commented on #43
We should probably not commit `package.resolved` since it causes this problem. If it doesn't exist then Xcode will automatically generate it upon open. Will add to gitignore.

[2020-04-22 16:44] ericlewis commented on #44
should be relatively easy to generate a localization from this: https://pastebin.com/B8N5KKsh.
has strings for diff languages in relation to items.

[2020-04-22 16:46] ericlewis commented on #40
@vvalembois the problem existing here is an issue with SwiftUI. It is possible to prevent the flashing, but it causes changes in how navigation works (i.e. pushing a detail screen causes the tab bar to be hidden). Maybe we wait for WWDC and see if they helped us out :)

[2020-04-22 16:47] ericlewis commented on #41
Also think this is SwiftUI, we just use NavigationViews.

[2020-04-22 16:47] #41 closed

[2020-04-22 16:49] #40 closed

[2020-04-22 16:50] #31 closed

[2020-04-22 17:56] Dimillian opened #45 "Refactor ItemDetailView into smallers view"

[2020-04-22 17:57] Dimillian opened #46 "Refactor DashboardView into smaller views"

[2020-04-22 18:40] vvalembois commented on #40
Hi,

I also have this problem on a SwiftUI personal project but I created the issue to have a trace and thus correct this problem later ;)

Regards

[2020-04-22 20:29] Bonney commented on #27
Anyone tackling this? I'd be glad to at least put together the UI for an icon picker, if someone wanted to integrate the logic. :)

[2020-04-22 20:35] Dimillian commented on #27
You're more than welcome to tackle it :)

[2020-04-22 20:36] Dimillian commented on #27
You can join our Slack here if you want to: https://join.slack.com/t/achelper/shared_invite/zt-dqu0apmb-rbV46xFvBvmXRYtp9JIoOQ

[2020-04-23 01:07] #43 closed

[2020-04-23 07:01] Dimillian opened #48 "Update data to 1.2.0 game patch"
@ericlewis is in the process of migrating our static JSON files dumped from https://nookplaza.net/ a while ago to full featured CoreData database.
Upgrading to new Nook Plaza dump should be a breeze after that.

[2020-04-23 07:28] #46 closed

[2020-04-23 17:12] renaudjenny opened #50 "Typo for Categories in ItemsViewModel"
`var categorie: Categories` should be `var categories: Categories`.

[2020-04-23 18:24] Dimillian opened #51 "Master search"
Have the categories root have a search that display 3-5 results per categories in a sectioned List.
We'll do that once we have CD plugged in.

[2020-04-24 06:47] Dimillian commented on #51
<img width="559" alt="Screenshot 2020-04-24 at 08 47 07" src="https://user-images.githubusercontent.com/535509/80182967-45f89200-8608-11ea-8669-3af1d3d087d8.png">

[2020-04-24 06:48] #51 closed

[2020-04-25 00:08] ericlewis commented on #50
refactor it :P

[2020-04-25 00:08] ericlewis commented on #48
this is part of the ongoing CD effort which can be seen here: https://github.com/Dimillian/ACHNBrowserUI/pull/33

[2020-04-25 10:45] #50 closed

[2020-04-25 15:00] Dimillian commented on #48
I couldn't resist a did a new dump of the API and adapted our models. Things are a bit simpler critters now. We also got some new features.

[2020-04-26 10:32] #45 closed

[2020-04-26 18:51] ericblancas23 commented on #23
what sorts of ci and github actions are you expecting?

[2020-04-27 08:43] Dimillian commented on #23
Ideally we would want CI to build / test the app on each commit, and then have a manual action to ship to TestFlight. It'll need to update the build etc... But I'm not sure any of that can be on GH actions for now.

[2020-04-27 08:47] renaudjenny commented on #23
@Dimillian you can have a look on one of my project, I did that recently: https://github.com/renaudjenny/telltime/blob/master/.github/workflows/xcodetest.yml
I use this library: https://github.com/pointfreeco/swift-snapshot-testing
That's the reason why I have to choose a very specific Emulator to test on (snapshot are taken with a kind of emulator and can obviously only being compare with the sam

[2020-04-27 08:49] Dimillian commented on #23
I'm using it for my Swift package, but so the GH action support building and testing a full app?
We def don't need to snapshot or event unit test for now. Actually a simple build status would be sufficient for now.

[2020-04-27 08:50] Dimillian commented on #23
I'm testing GH actions here and it work really good :) https://github.com/Dimillian/SwiftUIFlux/blob/master/README.md

[2020-04-27 09:18] Dimillian commented on #23
Thanks @renaudjenny added it on MovieSwiftUI from yours:
https://github.com/Dimillian/MovieSwiftUI/runs/621811929?check_suite_focus=true
I think I'll do the same here, will be a good first step :)

[2020-04-27 12:00] renaudjenny commented on #23
I'm glad you liked and used it even outside of this project! 😊

[2020-04-27 19:23] Bonney opened #58 "Reorganize Settings screen"
I plan on doing on work on the Settings view; try to clean up the island details (maybe pull that in to it's own view); leave the door open for any future preferences we need to integrate

[2020-04-29 10:14] Dimillian commented on #24
<img width="559" alt="Screenshot 2020-04-29 at 11 51 36" src="https://user-images.githubusercontent.com/535509/80585031-eb4da480-8a12-11ea-8e7f-d20f43f85a0d.png">
<img width="559" alt="Screenshot 2020-04-29 at 11 51 38" src="https://user-images.githubusercontent.com/535509/80585043-eee12b80-8a12-11ea-9433-dcf5beef1097.png">

Added that. Now we're only missing a charts and local notification :p

[2020-04-29 11:05] Dimillian commented on #24
I've also added notifications now :D

[2020-04-29 18:59] #24 closed

[2020-04-29 18:59] Dimillian opened #59 "Turnips chart tab"
Something like that would be cool:
![Screenshot 2020-04-29 at 20 58 37](https://user-images.githubusercontent.com/535509/80635572-596a8980-8a5c-11ea-9486-4b37f498a301.png)

You can try it here:
https://ac-turnip.com/

[2020-04-30 20:51] renaudjenny commented on #59
I could really give a try as I love working with `Path`. But if anyone else want to tackle this, please do 😊. At least I could help them!

[2020-04-30 22:59] pwightman opened #62 "Crashes when tapping on Villagers tab"
Not sure what more info to provide, or if this is even how you prefer this feedback, but I'm on an iPhone 11 Pro. Install app -> tap each tab until I get to Villagers -> crash.

[2020-05-01 12:23] golles opened #63 "Turnips UI issue"
Hi, first, thanks for this great app! I use it a lot while playing the game.
After updating the turnip price this afternoon, the UI looked like this:
![image0](https://user-images.githubusercontent.com/2211503/80805045-37394e80-8bb7-11ea-91a8-017298270715.png)

I can't reproduce it at the moment

[2020-05-01 14:05] Bonney commented on #63
I _think_ this is due to rotation between portrait and landscape. The entire turnip UI is a big work in progress that I plan on working on over the weekend, thanks for the heads up 👍

[2020-05-01 16:33] Dimillian commented on #63
Yep I can reproduce turning my phone.
We"ll disable rotation on iPhone tho, doesn't make sense.

[2020-05-03 07:02] Dimillian opened #64 "Refactor Text style as centralized ViewModifier"
Right now we have too many Text style across the application. We should centralize them in a sort of Style ViewModifiers like Text("Title").modifier(Title())

[2020-05-03 10:48] Dimillian commented on #63
The rotation is now blocked on iPhone so this solve this issue :)

[2020-05-03 10:48] #63 closed

[2020-05-03 10:49] Dimillian commented on #58
Adding to that: I would love to use the info you can enter in settings screen to generate a cool card on the dashboard with an avatar (you can upload) and island name, fruits etc... So you can share it around. I might do that next. Because for now the info are a bit useless.

[2020-05-03 10:50] Bonney commented on #58
I like that. If you don’t get to it, I will!!

[2020-05-03 20:03] Bonney opened #66 "Turnip tab reload glitch"
Tapping the turnips tab while already viewing that tab causes a weird refresh. Can be restored by visiting any other tab, then turnips again.

[2020-05-03 20:11] #66 closed

[2020-05-04 10:31] Dimillian opened #68 "Localization"
Without even talking about the data, we need to localize at least the UI.
There ton of Text constructed with variable in the middle of the string and I don't think it's a good pattern to have.
Anyway let's look into it. Never localized a SwiftUI app yet.

[2020-05-04 17:21] gregcotten opened #70 "Remove reliance on private API for ACNH Google Sheet -> JSON conversion"

[2020-05-04 17:24] Dimillian commented on #70
That would be totally awesome. Right now we're dumping the NookPlaza API once in a while. But now it changed quite a lot and will break all our models. NookPlaza already have the pipeline to do sheet -> clean JSON API. So maybe it would be a bit redundant.

[2020-05-05 01:50] ericlewis commented on #62
Can confirm this is reproducible.

It appears that UserCollection’s existence can cause a race condition.

A proposed fix would be to drill down and use a singleton.

[2020-05-05 04:40] Dimillian commented on #62
Or we could try to force passe it as .environmentObject to every tab.

[2020-05-05 07:05] Dimillian opened #74 "Fishes or fish, and where in the UI?"
https://www.grammarly.com/blog/fish-fishes/

[2020-05-05 11:44] ericlewis commented on #74
I would consider it a scientific context 🤔

[2020-05-05 11:46] ericlewis commented on #62
@Dimillian that is what I said :P but instead a singleton (shared) so that init happens once on launch. Drill down = per tab.

[2020-05-05 14:38] Dimillian opened #75 "Fix previews"
Some users / developers want to use previews. Some (most) of them are for now missing or not working because missing a dependency.

[2020-05-05 19:54] #59 closed

[2020-05-05 19:59] Dimillian opened #77 "Turnips chart improvement"
* [x] Add +50/-50 (not below 0) to the minMax spread so it have space to breath
* [x] Scroll the Y legend with the content? (need to test)
* [ ] Curved lines

[2020-05-06 05:29] chitvan832 opened #78 "Tabs Navigation Stack Resets"
**Expected Behaviour:** When I switch between tabs on TabView, each tab should maintain its own Navigation Stack.

**Current Behaviour:**
When i switch beteween tabs, they always show me the rootView.

**Example:** On Villagers tab if I go to some villagers details Screen and then click on Dashboard and come back to Villagers tab, it shows me Villagers list, instead of Detail View. This is happeni

[2020-05-06 06:21] renaudjenny commented on #77
Hi @Dimillian, I added some extra steps (±50 and not below 0). Tell me if it's OK for you.

For the other task... I'm not sure as we are already in a Vertical ScrollView (the List), and we scroll already horizontally, I'm worried that could be complicated for the user to understand what's scrolling.

![image](https://user-images.githubusercontent.com/2297556/81143634-319e8880-8f6a-11ea-8197-df136e

[2020-05-06 06:28] Dimillian commented on #77
I think you're right, it'll be too complicated to look at if we make the Y legend static.

[2020-05-06 06:29] Dimillian commented on #77
This +50/-50 look good!
What do you think about curved lines? So the path point connect with an arc instead of just point to point.

[2020-05-06 06:30] Dimillian commented on #78
You're totally right, and unfortunately this is how the SwiftUI `TabView` works at the moment. I'll dig into it to see if we could do any workaround.

[2020-05-06 07:29] renaudjenny commented on #77
I would love "flatten the curve"... Sorry, I had to say that...

[2020-05-06 07:33] Dimillian commented on #77
Very relevant 🥇

[2020-05-07 05:18] #77 closed

[2020-05-07 08:16] Dimillian opened #81 "Star/save variants/color for items"
Since I love collecting furniture, I also like collecting variety of colors. It'd be cool to 'star' even more specific on the colors obtained.

[2020-05-07 08:16] Dimillian opened #82 "Categorize items added into my stuff"
My stuff' -"items" section could have the folders of specifics since there are a ton of items eg; flooring, wallpaper, furniture, etc

[2020-05-07 20:33] TheVaan commented on #70
I stumbled over [nookdata.com](https://nookdata.com/) [API](https://documenter.getpostman.com/view/11167637/SzfAy6Me?version=latest) while reading the translations sheet of ACNH data that is linked on NookPlaza. Could using the NookData API be an alternativ? With the API build into the app the users could get up to date data without updating the app it self.

Besides: If the dev adds multi languag

[2020-05-07 21:40] Dimillian opened #83 "Villager birthday on dashboard only appear once"
I’ve broke it with villagers cache

[2020-05-08 05:48] #83 closed

[2020-05-08 06:28] #74 closed

[2020-05-08 06:37] #27 closed

[2020-05-08 06:48] Dimillian opened #86 "Custom lists of items"
The goal of the feature is to help people categorize their items in order to plan their house.

I see two ways of doing that.
One a bit funky:

* You see a sort of a AC house plan (a cut from top) with all the house rooms. And you can tap on them to add items and label them. You can also add items from item detail to labeled rooms.

The other one more classic

* We have a Lists tab in the My Stuff

[2020-05-08 07:03] Dimillian opened #87 "Item Discovery"
A bit like I did in MovieSwiftUI discover movies view: https://github.com/Dimillian/MovieSwiftUI
I think with would be great to have somewhere in the the possibility to see random items.
We would display them as stacked cards and you just swipe them to add them to like/collected/lists or dismiss them.

[2020-05-09 09:14] TheVaan commented on #68
First steps in #92
I‘m going to continue my work. You may give this issue an „in progress“ label.

[2020-05-09 11:10] ericlewis commented on #87
Feature creep, go play the game instead lmao

[2020-05-09 11:11] ericlewis commented on #86
The first suggestion requires the user keep their house up to date in the app as they play the game, it is more friction- especially since that would probably be buried under a menu.

The second suggestion is more traditional, but at least the user can just do something like “top floor” when they get one.

[2020-05-09 11:12] ericlewis commented on #82
Yes, favorites should be similar to categories, and also should show the counts for each category and/or only show categories with favorites.

[2020-05-09 11:20] ericlewis commented on #23
Considering this resolved.

[2020-05-09 11:20] #23 closed

[2020-05-09 11:21] ericlewis commented on #25
We have at least one of these things!

[2020-05-09 11:57] ericlewis commented on #70
@TheVaan we are attempting to avoid using live data (to some extent) because it’s nice to have it all offline. Eventually we hope to have a hybrid approach with local caching.

[2020-05-09 11:59] ericlewis commented on #26
I think we have started on this right @Dimillian? Under settings?

[2020-05-09 12:06] ericlewis commented on #48
I am calling this done, reopen if you want @Dimillian

[2020-05-09 12:06] #48 closed

[2020-05-09 12:06] ericlewis commented on #30
I don’t remember what this was about

[2020-05-09 12:06] #30 closed

[2020-05-09 12:23] Dimillian commented on #86
Actually it's done, just minor enchancements now :)

[2020-05-09 12:23] #86 closed

[2020-05-09 14:00] ericlewis opened #94 "CoreData backed UserCollection"
Explore the idea of using CoreData for keeping UserCollection inventory. Simpler than using CD for everything.

[2020-05-09 15:17] TheVaan commented on #70
Yes, I also had a hybrid thing in mind. Force update database/cache after installation / update and a button in settings view to manually update cache. App could also be shipped with a default cache (up to date of release date).

[2020-05-10 06:05] Dimillian commented on #70
Yeah this is definitely what we would go for. But for now we're not even up to date anymore because the data changed a lot and I need to clean it up for import in our current models.

[2020-05-10 09:15] Dimillian opened #97 "Data dump / API / Items update status"
This is an issue I want to keep open and updated, because it's quite hard to keep up to date with the data and how / what / when I'm updating items data from the API and put it inside the app.

Latest: https://github.com/Dimillian/ACHNBrowserUI/commit/99e6eb1812555f89744841c9e5ea37870fce811b

NookPlaza grouped houseware, art, miscellaneous and wall-mounted into one furnitures endpoint. It also cha

[2020-05-10 10:10] TheVaan opened #98 "Turnip profit calculation"
Turnip profit calculation is based on average daily price, but to be a "profit" it has to be the difference between sell price and investment, so you need to subtract the initial investment. Otherwise profit is always "green".

Example:
Bought 3700 turnips for 100 bells -> total investment = 370.000 bells
Average price on Monday AM is 89 Bells -> total earning when selling is 325.500 bells
-> earn

[2020-05-10 10:13] #98 closed

[2020-05-10 13:15] TheVaan commented on #68
Let us create a check-list in the issue (maybe someone can copy paste):

- [x] English
- [x] German
- [ ] French
- [ ] Spanish
- [ ] Italien
- [ ] Russian
- [ ] Portuguese
- [ ] Chinese
- [ ] Japanese
- [ ] Korean

Add / remove languages as desired.

[2020-05-10 16:03] Bonney opened #101 "Flower breeding section/guide/tracker"
This one was specifically requested by my wife :)

[2020-05-10 16:14] TheVaan commented on #101
Just leaving a few information about breeding...

Background informations: https://docs.google.com/document/d/1ARIQCUc5YVEd01D7jtJT9EEJF45m07NXhAm4fOpNvCs/mobilebasic (happy reading)

Breeding-Cheat-Sheet: https://elkpon.tumblr.com/post/615443716368482304/finally-finished-making-this-tonight-the-data

[2020-05-10 16:23] Dimillian commented on #101
So basically we want to make a pretty sheet explaining all that and have a link in the today dashboard. Sound good :)

[2020-05-10 19:37] vknabel commented on #70
[ACNH API](http://acnhapi.com) also has undocumented endpoints returning a dict of all entries inside a category (e.g. [`GET /fish`](http://acnhapi.com/fish)).
Beside the differences in the data format: is there a reason not to use that for updating our data?

[2020-05-10 19:47] vknabel commented on #44
What are the preferred plans for this?
Do you prefer translation relying on Localizable.strings or by patching the JSON-files?

[2020-05-10 19:57] Dimillian commented on #44
I’ll take a look at that a bit later, but with 5000+ items we’ll use a translated data source, I’ll just pull another json.

[2020-05-10 19:58] Dimillian commented on #70
We already use a very recent dump of from NookPlaza and I’ve updated most of it today.  The main advantage is that it’s very homogenous dump so I can use Item for everything. I think the data issue Is almost solved. I’ll add an import / sync from within the app soon.

[2020-05-10 21:15] vknabel commented on #44
Maybe [imthe666st/ACNH](https://github.com/imthe666st/ACNH) can help you here. I also wrote a short [playground script to generate a Localizable.strings file](https://gist.github.com/vknabel/75ad69b3e6a26685cabe62f6ff22bc2c).

[2020-05-10 22:27] TheVaan commented on #26
Last missing point of this list is Island Time, but I think there are two groups of users:
- time travelers, who travels often so they won’t update in-app time everytime they travel
- normal players, who have the same time settings on their switch as on the iPhone
In my opinion there is no effort when storing island time.

[2020-05-10 22:53] metalandcoffee opened #104 "iOS crash after attempting to enter turnip prices."
Unfortunately this happened after I entered all my inventory 😓 but the app crashed and it would not let me back in. I had been entering my turnip prices after signing up for AC Helper+. So I deleted the app and re-downloaded it but it's not picking up that I am a subscriber anymore :-/

[2020-05-10 23:04] metalandcoffee opened #105 "Load Turnip.Exchange listings conditionally."
I'd personally prefer if the app are only loads listings if the user wants to see it (by tapping on a button) or if you maybe just load the first 5? What does everyone else think?

[2020-05-10 23:40] metalandcoffee opened #106 "iOS app crash when selecting certain villagers?"
I don't quite understand what's causing this issue. I recorded my screen and posted the video [here](https://metalandcoffee.com/wp-content/uploads/2020/05/ACNH-Bug-Villagers-Screen.mp4). When I search for 'Pudge' and click on them, it works fine. But when I go back to click on 'Puddles', the app crashes.

[2020-05-11 05:47] Dimillian commented on #106
Are you on iOS 13.4+? Will take a look into it.

[2020-05-11 05:48] Dimillian commented on #105
I think it's an excellent idea, I'll gate it behind a button that so you click it to load exchanges.

[2020-05-11 05:50] Dimillian commented on #104
There was a version for a very short time with this issue on the App Store, I'm very it happen to you. Be sure to be updated to the latest version from the App Store. For restoring subscription status you can go in the settings from the dashboard and there is a restore purchase button :)

[2020-05-11 05:57] Dimillian commented on #44
This is perfect! Thank you so much for the repo link. With those JSON we just have to match the internal id with our datasource and done. Crazy. I'll be able to do it in no time :)

[2020-05-11 05:58] Dimillian commented on #44
Note: We'll not use localizable.string. I'll pull the Locale from the phone, and then load the appropriate translation JSON and replace the item name with the one pulled from the file.

[2020-05-11 06:55] Dimillian commented on #44
You're code is a great help, I'm almost done :)

[2020-05-11 06:56] Dimillian commented on #44
<img width="559" alt="Screenshot 2020-05-11 at 08 55 43" src="https://user-images.githubusercontent.com/535509/81532761-3a75cc80-9365-11ea-9a5e-877690ba4e21.png">

[2020-05-11 07:00] vknabel commented on #44
Great to hear and happy to help!
The localizable approach was just the quickest and easiest way to get a prototype working. I guess patching the dataset is better, too!

As a side note: in the current data set, the first letter is capitalized, whereas in the linked one most names are lowercased in English.

[2020-05-11 07:08] Dimillian commented on #44
Yup fixed that too, commiting in 5 minutes. You'll see, I like the approach I did. We load current localization table in memory in just query it from the Item.

[2020-05-11 07:11] Dimillian commented on #44
https://github.com/Dimillian/ACHNBrowserUI/commit/081c8469d9f8b4c04ae336a49565967ce9f6ec01 @vknabel It's basic but it works :) So happy we could have that nailed down in so little time!

[2020-05-11 07:14] Dimillian commented on #44
You're welcome to do adjustment as you see fit :)

[2020-05-11 07:37] JoakimSjo commented on #94
Out of curiosity, is CD referred to "CoreData"?

[2020-05-11 07:37] vknabel commented on #44
Thank you very much @Dimillian. I will take a look this evening in about 9-12 hours!

[2020-05-11 10:10] bigrck64 commented on #44
Awesome that was quick ! :)

[2020-05-11 11:21] metalandcoffee commented on #106
I’m on 13.3.1 but I will update to the latest.

[2020-05-11 11:46] metalandcoffee commented on #104
No worries! I'm thinking maybe me not updating to the latest iOS caused these issues too. You can close this. This hasn't happened again yet.

[2020-05-11 12:47] jordibruin commented on #78
@Dimillian I found a solution for this which basically wraps UIKit's UITabBar into it. It's not perfect but it works for this particular bug.

Have a look 🙂
https://gist.github.com/Amzd/2eb5b941865e8c5cccf149e6e07c8810

[2020-05-11 13:27] maeganjwilson opened #109 "Today’s Birthday doesn’t show today’s actual birthday"
Attached picture shows that the today’s birthday section doesn’t take into the actual date. Todays date is May 11, but the screenshot shows Nov 5. Yesterday it showed Oct 5.
![ABEE81E5-A48B-494B-84F4-BFF29B22A688](https://user-images.githubusercontent.com/19311157/81566951-38117380-9361-11ea-95d3-449375061155.png)

[2020-05-11 13:30] maeganjwilson opened #110 "Suggestion - turnip prices should update to show user input prices"
The turnip calculator shouldn’t say average prices for the time slot if the user has put in a value already.
![26B39912-75C7-49DB-B154-1FB0C7ABADA0](https://user-images.githubusercontent.com/19311157/81567120-77d85b00-9361-11ea-96eb-a857970410a0.png)
In the screenshot above, it says the average for the morning is 98 bells but I already put in 95 bells as my price for this morning. It should say yo

[2020-05-11 13:31] Dimillian commented on #109
Yes it's fixed by https://github.com/Dimillian/ACHNBrowserUI/commit/d5d369c5fe10654d167dd0a46bc9689c970e06bc and will be in next update :)

[2020-05-11 13:32] Dimillian commented on #110
Make total sense, we'll do it :)

[2020-05-11 13:32] maeganjwilson commented on #109
Awesome! I figured someone noticed, but just thought I’d mention.

[2020-05-11 14:01] maeganjwilson commented on #110
I'd like to also add this into the Turnips view. There shouldn't be an average shown if there's an actual data point. I'm taking a look at the source code to see if I could also easily submit a PR to "close" the issue.

I love SwiftUI, so this is a great project! Thanks for the app!

[2020-05-11 16:38] vknabel commented on #44
It works very well! From my perspective, this is done.
I opened #111 for a small and rare edge case. But good and blazingly fast work!

[2020-05-11 17:39] sw0rdfish opened #112 "Swipe to Add to Collection"
Hey all. New here. Gonna try to jump in with helping on things but I’ve never coded in swift. See if I can catchup fast.

Would be better if swiping right added a bug/fish/item to your collection. I also find a check might be better than a star for the non swipe method? It took me a bit to figure out star wasn’t favouriting meaning something else. Thoughts?

[2020-05-11 17:43] Dimillian commented on #112
<img width="559" alt="Screenshot 2020-05-11 at 19 41 58" src="https://user-images.githubusercontent.com/535509/81593304-8a817d00-93bf-11ea-979f-9b732e406afe.png">
<img width="559" alt="Screenshot 2020-05-11 at 19 42 11" src="https://user-images.githubusercontent.com/535509/81593319-8e150400-93bf-11ea-9ffc-8d5df9a6f9e3.png">
<img width="559" alt="Screenshot 2020-05-11 at 19 42 17" src="https://user

[2020-05-11 17:46] sw0rdfish commented on #112
Weird. Mine has stars for the critters. Is that a bug ? Maybe I’m behind a version

[2020-05-11 17:47] sw0rdfish commented on #112
Yeah maybe I just have a tendency to try to swipe? I don’t think you should lose the tap option. I just think the swipe could be an easy way too? Just a suggestion 👍

[2020-05-11 17:50] Dimillian commented on #112
Yes definitely a good idea :)

[2020-05-11 19:17] #109 closed

[2020-05-11 19:18] #104 closed

[2020-05-11 19:19] ericlewis commented on #105
@Dimillian maybe gate it with a switch in settings.

[2020-05-11 19:21] metalandcoffee commented on #106
Looks like this is still happening to me with the latest iOS so I'm not sure what's up. If I can provide anymore info, let me know.

[2020-05-11 19:27] ericlewis commented on #106
@metalandcoffee is it certain villagers? or is it only when you tap on a villager, go back, and tap again that it fails?

[2020-05-11 19:30] metalandcoffee commented on #106
It's for certain villagers. The ones that don't work for me far outweigh the ones that do. For instance, I'll search for Pudge and tap to see their profile. But if I scroll down to Puddles and tap, that's when the app just closes.

[2020-05-11 19:32] Dimillian commented on #106
Could you update to latest update from the App Store and let us know? It should be fixed :)

[2020-05-11 19:36] metalandcoffee commented on #106
I have version 1.1.2 installed. Is that the latest version? I don't have an update available from the App Store so I'm assuming that is the latest.

[2020-05-11 19:43] Dimillian commented on #106
1.2 is the new one, I guess it’ll arrive soon :)

[2020-05-11 19:45] metalandcoffee commented on #106
Yay! Ok sounds good. I'll wait for my app to update and check to see if it's fixed.

[2020-05-11 20:16] Dimillian opened #114 "Dashboard: Today task widget"
@Bonney Did the UI for the view in `TodayTasksSection` now we actually need to make it works. We can displays the 4 fossils to find, items in tree etc... any task that can be done daily and checked.

[2020-05-11 20:17] Dimillian opened #115 "Dashboard: organize widgets"
@Bonney Did the UI for the re order button + sheet. Now we need to make it works.
This is mostly artchitectural, we need to have a list of `TodayItem` struct that have a` makeView()` function. So we can save and restore that.

[2020-05-12 20:22] metalandcoffee commented on #106
It's working perfectly now. Thanks @Dimillian !

[2020-05-12 20:22] #106 closed

[2020-05-12 21:52] barclayd commented on #112
This is a great idea. However, from my time implementing a swipeable list using SwiftUI - in order to get a user experience I thought matched what a user would expect, the only way I could get it to work was wrapping a TableViewController in a UIHostingViewController to replace SwiftUI's List. I had tried 'rolling my own' by using a ZStack and adding gestures - the user experience was ok but never

[2020-05-12 22:25] broncofan7 opened #124 "Unable to Restore Purchases on iPhone"
Did the subscription on my iPad, tried the Restore Purchases on my iPhone (same AppleID), button does nothing. I don’t get a prompt or anything, just clicks away.

[2020-05-13 01:14] maeganjwilson commented on #110
Question how did you get the localizations? I adjusted some of the language to distinguish between average price and entered price.

[2020-05-13 05:52] pavm035 opened #125 "Crash on launch in Daashboard screen"
When you launch the app it stars crashing in following methods
[code]

[2020-05-13 06:17] Dimillian commented on #125
Fixed in latest commit. Sorry about that.

[2020-05-13 06:37] Dimillian commented on #124
Looking into it. If you're on the same Apple Account it should actually be automatic. You can also try to subscribe again it'll work (and not subscribe you twice).

[2020-05-13 07:33] pavm035 commented on #125
Is it pushed already, i don't see commit regarding this?

[2020-05-13 07:36] Dimillian commented on #125
https://github.com/Dimillian/ACHNBrowserUI/commit/0f266be65ba2c42eed4ef7b7b61d835d853e607d Pull & run master it should works :)

[2020-05-13 09:09] vianneychin commented on #125
The crash is happening on the live app as well unfortunately.

[2020-05-13 09:57] Dimillian commented on #125
Yes, update is waiting for review...

[2020-05-13 10:04] makirby commented on #78
@Dimillian we've been using [this](https://github.com/NicholasBellucci/StatefulTabView) to give us the desired functionality, was basically a drop in replacement for the TabView

[2020-05-13 13:05] alistairkb opened #129 "Design Proposal: Overall UI & Data Visualisation for the turnip page"
I cleaned up the UI a little;
![Dashboard](https://user-images.githubusercontent.com/8439821/81814681-a6218a80-955b-11ea-8305-a2f651730b03.png)

On the Turnips page, if the user has not entered personal prices;
![Turnips 1](https://user-images.githubusercontent.com/8439821/81814860-d8cb8300-955b-11ea-9fe4-0550a6b57f44.png)

Once the personal prices have been added to the turnip page, the user sees

[2020-05-13 13:21] alistairkb opened #130 "New wallpaper for the current design."
![iPhone 11 Copy 5](https://user-images.githubusercontent.com/8439821/81817583-868c6100-955f-11ea-8c96-761132e03f01.png)
![iPhone 11 Copy 3](https://user-images.githubusercontent.com/8439821/81817599-8b511500-955f-11ea-860e-5c920559a75b.png)

[2020-05-13 14:09] TheVaan commented on #129
I like your work but I think for an app with this topic it feels to „banking-app-like“.
In my opinion this doesn‘t match totally to the user group (or to most of the user). The current design matches the in-game design pretty good.
What I really like is the way of turnip price presentation.

[2020-05-13 14:14] Bonney commented on #130
I'm not entirely sure that works with our current design – I do, however, like it _as a wallpaper_. And it might make a good launch image! Do you have higher-res versions?

[2020-05-13 15:11] alistairkb commented on #130
I took the PNG from the animal crossing website with the ability to be scaled up/down.

My export settings weren't right, I can definitely do a bunch of these and let you choose from the best. Is there an exact file size you're after?

[2020-05-13 15:14] alistairkb commented on #129
Yeah, just wanted to try a clean design, see what people would think.

My main job was to design the turnip price section, so I'm glad you like it.
Will redesign with the current style in mind and reupload.

[2020-05-13 18:22] #125 closed

[2020-05-13 22:50] sw0rdfish opened #132 "App is Crashing On Open."
iOS 13.3.1
Unsure of AC Helper version.

I checked it last night and had the check boxes for the villagers ( was stars the day before ) then today my only option was to delete and re-install. Is there any logs I can pull?

Sucks cuz all my data is gone :(

[2020-05-13 23:09] grantjbutler commented on #132
I'm also experiencing a crash on launch. I've attached a crash log in hopes that it helps figure out the issue.

[AC Helper-2020-05-13-190632.log](https://github.com/Dimillian/ACHNBrowserUI/files/4625152/AC.Helper-2020-05-13-190632.log)

[2020-05-14 03:36] klin0816 commented on #68
I am able to provide ZH_TW Chinese localization but I am not good at Swift
Is that any template that I can fill in the translation?

[2020-05-14 03:48] jonnyklemmer commented on #68
@klin0816 here's the "template" file you use for Localization in iOS:
https://github.com/Dimillian/ACHNBrowserUI/blob/master/ACHNBrowserUI/ACHNBrowserUI/en.lproj/Localizable.strings

so for example replacing
`"music" = "Music";`
with
`"music" = "音樂";`

I'm sure if you were able to do that it'd help @TheVaan out

[2020-05-14 05:18] TheVaan commented on #132
@grantjbutler the bug was fixed in 1.2.3, it was released ~10 hours ago. Maybe you have to force refresh App Stores available updates. You now should get 1.2.4

@sw0rdfish I‘m really sorry that you lost your data! I think your problem was v1.2.2 of AC Helper. It was shipped with a localization bug that did not occur on the devs device due to different localization settings. The App Store is a litt

[2020-05-14 05:46] Dimillian commented on #132
@sw0rdfish @grantjbutler Yep, sorry about the issue, could you both confirm the latest App Store update solve the issue? Thanks!

[2020-05-14 05:47] TheVaan commented on #68
@klin0816 That would be awesome! As @jonnyklemmer mentioned, there are no Swift skills necessary. We changed the way translation works a little bit - the linked English localization file is not complete.

You have to choose between two ways:
First:
- fork repo, navigate to `/ACHNBrowserUI/ACHNBrowserUI`
- create a folder named `zh_TW.lproj`
- copy and paste the files from the folder `de.lproj` to

[2020-05-14 06:09] klin0816 commented on #68
@TheVaan Thanks for your guide anyway.
I will try to complete the translation ASAP.

[2020-05-14 06:30] mimikun commented on #68
Hello.
I want to Japanese Localization.
Would you tell me how to do it?

[2020-05-14 06:33] TheVaan commented on #68
@mimikun that's great! Thank you! You can follow the tutorial I posted above. Use as name for your folder `ja.lproj` - you don't need Xcode, it can be done with any editor, case the strings file is plain UTF.

[2020-05-14 06:44] Dimillian commented on #68
Or UTF-16 in case of Japanese/Chinese, and it works. Just pulled the Chinese items and now we have it in the app @klin0816 :)
<img width="559" alt="Screenshot 2020-05-14 at 08 42 28" src="https://user-images.githubusercontent.com/535509/81901599-10b7e200-95bf-11ea-9b67-acbcfdfff082.png">
![Simulator Screen Shot - iPhone 8 - 2020-05-13 at 13 28 19](https://user-images.githubusercontent.com/535509/8

[2020-05-14 07:11] mimikun commented on #68
@TheVaan
Thanks.
I'll try to complete the translation ASAP.

[2020-05-14 10:59] alistairkb commented on #130
I think this size should be big enough.
![wallpaper](https://user-images.githubusercontent.com/8439821/81926746-0b858200-9615-11ea-84a4-e38f64ad90be.png)

[2020-05-14 14:24] Dimillian commented on #44
Fo items localizations data for now we have:

* English
* French
* Japanese
* Chinese
* German
* Russian
* Spanish
* Italian

[2020-05-14 14:25] Dimillian opened #137 "App Store metadatas localizations"
I've added what I have for now for English (and it's far from correct), and let's see if we can have other languages we support for App Store description.
I'll do french soon.
https://github.com/Dimillian/ACHNBrowserUI/tree/master/app-store/metada

[2020-05-14 14:27] TheVaan commented on #137
You can count on me ;)

[2020-05-14 15:50] jonnyklemmer commented on #132
I was having the same issue and can confirm 1.2.4 update fixed it. @TheVaan @Dimillian

[2020-05-14 16:07] #132 closed

[2020-05-14 19:37] sw0rdfish commented on #132
Sorry yeah it was fine after I reinstalled... it's annoying that I can't easily update apps anymore.. I tried everything to find an update for it, but it didn't work.  Glad to hear the problem is licked! No worries on the data, it's juts a critters list.  Is it possible to backup the data for this app on iCloud or does that complicate things?  I wish I was up to date with my programming so I could

[2020-05-14 19:39] Dimillian commented on #132
Next update is doing just that :)
![image](https://user-images.githubusercontent.com/535509/81978144-6629d880-962b-11ea-99c7-da79d4e87418.png)

[2020-05-14 19:43] sw0rdfish commented on #132
You guys are damn wizards! I love it.
How does Apple deal with automatically storing data there? Or is that not an option?  My concern is probably unnecessary but this may not be an option someone thinks to do on a regular basis... so they may do it once after the first import... but then going forward, they could lose weeks of data if it crashed on them again or they lost their phones.  Thoughts?

[2020-05-14 19:57] TheVaan commented on #132
We already discussed iCloud integration. It’s a thing we have in mind, but it’s complicated in an open source project. There is possible a way and it will be on our watch list. That’s not a promise. I would love this feature, too - in my case for multi device using.

[2020-05-14 20:06] Dimillian commented on #132
Basically we can’t do iCloud sync because of the project setup with open source for now. So this will let you export the file to wherever you want (even to iCloud folder). And so you can import it to any devices. Or even share it with friends so they can import it. ![image](https://user-images.githubusercontent.com/535509/81980553-1cdb8800-962f-11ea-91bb-77dd1c984832.png)

[2020-05-14 20:46] sw0rdfish commented on #132
That makes sense. Thanks for taking the time to explain. Cheers!

[2020-05-15 11:34] TheVaan commented on #114
I‘ll do that

[2020-05-15 18:52] jordibruin opened #140 "Reproducible app crash"
Go to the catalog, select a category > swipe back > go to another category > go back by swiping but cancel the swipe half way through so you go back to the category screen. The app will become unresponsive. I think it's a SwiftUI bug as I'm seeing it in my SwiftUI app as well.

[2020-05-16 07:05] Kiyami218 opened #141 "Language & Cataloguing Issue, App Ver 1.3 (051432020)"
After the latest update, the language seems to have automatically changed to Chinese when accessing Fish & Bugs Catalogue as well as Art catalogue :(

Items marked off in Art Catalogue now aren't registering Marked Off in the [Chinese] list but also remains marked off in English list under Collection.

Any way to change back to English? (I couldn't find the option under Settings)
Or hopefully be f

[2020-05-16 07:26] Dimillian commented on #141
It's fixed on master :) Will publish to the app store soon!

[2020-05-16 07:30] Kiyami218 commented on #141
Thank you for the prompt update, even moreso for the amazing work you've
done in the app ^^

On Sat, May 16, 2020 at 5:26 PM Thomas Ricouard <notifications@github.com>
wrote:

[2020-05-16 07:38] ericlewis commented on #140
@jordibruin version you are on?

[2020-05-16 10:02] Dimillian commented on #141
Fixed in 1.3.1 waiting for review :)

[2020-05-16 10:03] Dimillian commented on #140
This is a SwiftUI bug anyway, nothing we can do about for now. @emcro Had some ideas but it require quite a bit of workarouds. Let's hope 13.5 fix it.

[2020-05-17 05:27] Dimillian commented on #82
Fixed by https://github.com/Dimillian/ACHNBrowserUI/pull/142

[2020-05-17 05:27] #82 closed

[2020-05-17 06:31] Dimillian opened #143 "Mystery islands data"
We should show a today card with possible islands
https://wuffs.org/acnh/mysterytour.html

[2020-05-17 07:43] Jerrot opened #144 "Text in Acknowledgements Rows"
In the German translation of the current release (1.3), I can see a different text behaviour in the About -> Acknowledgements (“Danksagungen”) section. While the first row ends with an ellipsis glyph (UIKit speech: .byTruncatingTail), the others - e.g. third and last row - just happily line-break.

![E106283E-277D-4497-A682-B153BA66A0EC](https://user-images.githubusercontent.com/1426652/82138712-c

[2020-05-17 08:38] #143 closed

[2020-05-17 09:17] TheVaan commented on #144
Danke für den Hinweis! Da hab ich wohl auch eine Übersetzung übersehen. Ich schaue es mir mal an.

[2020-05-17 09:25] TheVaan commented on #144
Hey @Dimillian, you may take a look here: there is no truncating in makeRow but for some reason, contributor entry is truncated

[2020-05-17 13:53] iDreamsX opened #149 "Tableaux qui ne se compte pas"
Lors de l'ajout des tableaux que je possède, ces derniers s'enregistrent, mais ne se comptent pas sur l'accueil et dans la progression de ma collection.
Application version 1.3 (051432020)

![IMG_0235](https://user-images.githubusercontent.com/37273978/82149061-60640b00-9856-11ea-8b10-b2db2c51e1c5.PNG)
![IMG_0237](https://user-images.githubusercontent.com/37273978/82149064-62c66500-9856-11ea-8aab-

[2020-05-17 14:22] renaudjenny commented on #149
d'ailleurs, je viens de capter, Évènements... les accents, ils sont pas super correct si?
J'ai le jeu en anglais, donc j'ai pas fait gaffe (et j'ai pas super bien relue la traduction :/, désolé @Dimillian).
Je vais vite corriger ça dans une quick PR @Dimillian.

[2020-05-17 14:23] reflectviolet opened #151 "Everything is in Japanese?"
When I opened my app today after the latest patch, all of my bugs and fish are named in what I believe is Japanese. My phone language is Canadian English / Canada for location.

[2020-05-17 14:25] reflectviolet commented on #151
Edit: Now looking at the writing closer as opposed to just the update it seems like Japanese. Have attached a photo, not sure if it matters.
![7275BD87-DEC7-4D86-8B63-170573D4F127](https://user-images.githubusercontent.com/65497961/82151259-ab672980-9828-11ea-923d-d66df7b1c7cf.png)

[2020-05-17 14:26] renaudjenny commented on #151
Yep, we know :(. Fix is in review, see: https://github.com/Dimillian/ACHNBrowserUI/issues/141

[2020-05-17 14:30] reflectviolet commented on #151
Thank you, sorry to bother you with another issue, I didn’t see that!

[2020-05-17 14:30] #151 closed

[2020-05-17 14:32] renaudjenny commented on #151
@reflectviolet no worries :), hope Apple will accept the fix soon 🤞

[2020-05-17 14:49] iDreamsX commented on #149
Nous pouvons utiliser les deux types d'orthographes pour "Évènements"
Il a l'accent sur le deuxième è.
Nous pouvons écrire : "évènement" et "événement", cela n'est pas considéré comme une faute

[2020-05-17 14:51] Dimillian commented on #149
Je viens de le corriger @renaudjenny :)

[2020-05-17 14:52] Dimillian commented on #149
Et sinon la correction est dans la prochaine version :)

[2020-05-18 03:41] kartbnb commented on #68
I am able to provide “Chinese Simplified” and I am familiar with swift. But there is no “Chinese Simplified” option in your comments☹️

[2020-05-18 05:06] TheVaan commented on #68
@kartbnb I can add it. The amount of Chinese language variants is not that transparent to me 😅
You are welcome to create a pull request with translated data!

[2020-05-18 05:40] kartbnb commented on #68
Just a simple question on how to add new Localizable. I just need to create a new Directory and named it and then add a "Localizable.strings" file into it?

[2020-05-18 05:47] TheVaan commented on #68
You have two options:
- simply add the folder then import the localization; file doesn’t have to be translated at this point, it only has to exists (or @Dimillian can import)
- add a new localization to Localizable.Strings via menu

[2020-05-18 07:31] #141 closed

[2020-05-18 07:31] #140 closed

[2020-05-18 07:31] Dimillian commented on #149
Fixed in 1.3.1

[2020-05-18 07:31] #149 closed

[2020-05-18 07:31] #124 closed

[2020-05-18 09:53] Dimillian opened #160 "Today visitor widget"
Something like that https://www.reddit.com/r/ac_newhorizons/comments/glnlej/put_together_this_graphic_to_visualise_when_you/

[2020-05-18 15:45] toddross opened #161 "Items are displayed in Spanish"
The interface is English until I view a list of items or individual items; in these interfaces, Spanish is used.

This started today. Everything was displayed in English yesterday.

I have never set my iPhone to Spanish. I am not using a VPN.

[2020-05-18 15:56] Dimillian commented on #161
Are you using the App Store version 1.3.1? You you check? Thanks!

[2020-05-19 10:36] iDreamsX opened #165 "Collection des différentes variantes d'items"
Bonjour,

Serait-il possible d'ajouter une option afin de pouvoir cocher les items que nous possédons dans leurs différentes variantes ?
Un système, directement sous l'item de base afin de pouvoir s'y retrouver suivant notre collection avec les couleurs des autres.
Cela pourrait aider beaucoup de monde dans la collection complète des items.

![IMG_0244](https://user-images.githubusercontent.com/37

[2020-05-19 15:25] MrOgeid commented on #68
Hi, I can provide the Italian localization, if anybody isn't working on it just yet. 😀 The folder name for the Italian language is `it_IT.lproj` ?

[2020-05-19 15:27] TheVaan commented on #68
@MrOgeid this would be awesome! There is no one translating to Italian (as far as we know). The folders name has to be it.lproj

[2020-05-19 15:30] MrOgeid commented on #68
@TheVaan Ok! Thank you for the correct folder's name! I'll try to translate all the string as soon as possible!

[2020-05-19 15:44] Dimillian commented on #68
And for items and villagers, they should already display in Italian. You can confirm @MrOgeid ?

[2020-05-19 15:53] MrOgeid commented on #68
@Dimillian Villager's name are displaying in Italian but I see the items in the Catalog in English.

[2020-05-19 15:59] Dimillian commented on #68
@MrOgeid On latest commit I've enable Italien so you'll find the correct folder and file. And it also enable Italien items :)
![Simulator Screen Shot - iPhone 8 - 2020-05-19 at 17 59 41](https://user-images.githubusercontent.com/535509/82349546-888c6f00-99fa-11ea-8953-aa743f9c170a.png)

[2020-05-19 16:12] MrOgeid commented on #68
@Dimillian Sorry, probably I didn't understand.😅 I don't have access right know to Xcode as I'm not a very expert software developer, I'm more a graphic designer and copywriter.

[2020-05-19 16:13] Dimillian commented on #68
Well if you start your translation from the last commit, you'll find the It.lproj folder with the file ready :)

[2020-05-19 16:29] MrOgeid commented on #68
Thanks @Dimillian !

[2020-05-19 19:00] ericlewis commented on #165
@Dimillian I can't read this, so it is on you!

[2020-05-19 19:22] Dimillian commented on #160
Done

[2020-05-19 19:22] #160 closed

[2020-05-19 23:37] Ruben-C opened #168 "Timer Item Linked to Bunny Day Wand"
Within the app looking at Catalog > Tools.  Selecting the Timer in the listing show info for the Bunny Day Wand.

Platform: iOS 13.5
Version: 1.4

Update:
Further testing shows this is something that occurs when you have an item selected then select from the list below an item marked “Same Color”.  Going back to this item will show the last selected item from “Same Color”

Reproduce:
1. Go to Cata

[2020-05-20 04:44] TheVaan commented on #165
@ericlewis as far as I understand, this is not bug but a feature request. @iDreamsX asks for a way to mark variants/colors of an item for the collection.

[2020-05-20 05:53] #168 closed

[2020-05-20 05:53] Dimillian commented on #168
Nice catch!

[2020-05-20 06:15] Dimillian commented on #165
Yeah a lot of people have been requesting that and it make sense, in the collection we should save the item color / variant instead of the root item. i'll look into it.

[2020-05-20 07:40] TheVaan commented on #165
So this is duplicate to #81?

[2020-05-20 10:18] daveverwer opened #171 "Suggestion: Don't display turnip price averages or min/max values for days where data has been entered"
![Prices](https://user-images.githubusercontent.com/5180/82434782-4a8b5b80-9a8b-11ea-88d4-a86f54d1b2bf.png)

When turnip pricing data has been entered, it would seem sensible to display the actual price it was on those days rather than the average, or min/max prices. If data wasn't entered, maybe just a `-` for that day. It could also use a different colour for days that re real data, rather than

[2020-05-20 10:38] Dimillian commented on #171
Totally on point, I think the ideal solution would be to display the - for average and the exact price in min - max / profits
It's in the work but we're not yet totally happy with it
https://github.com/Dimillian/ACHNBrowserUI/pull/156

[2020-05-20 11:17] daveverwer commented on #171
Fab! Feel free to close this if it's being taken care of in #156.

[2020-05-21 14:06] mimikun opened #174 "Using of translation support service in l10n."
It is hard work to edit the file directly.
I think, it can solve this by using [Weblate](https://weblate.org) or [Crowdin](https://crowdin.com).

[2020-05-21 17:06] TheVaan commented on #174
Hi @mimikun, this is true. We already discussed that but it’s not that easy. The useful services costs money for the amount of strings we have to translate. This doesn’t fit the OSS-hobby-character of this app. The free translation services that we found doesn’t match our needs. We continue looking for a service. Till then we „need“ to translate directly inside the files.

[2020-05-22 16:47] #174 closed

[2020-05-23 07:39] #171 closed

[2020-05-23 07:57] daveverwer commented on #171
🚀

[2020-05-23 08:11] Dimillian commented on #171
Yeah will be in next update :) thanks to @renaudjenny
<img width="559" alt="Screenshot 2020-05-23 at 10 10 18" src="https://user-images.githubusercontent.com/535509/82725493-a5b48c80-9cdd-11ea-8140-5e709c010299.png">
<img width="559" alt="Screenshot 2020-05-23 at 10 10 20" src="https://user-images.githubusercontent.com/535509/82725498-a9e0aa00-9cdd-11ea-881d-5e6dab641e8e.png">
<img width="559" alt

[2020-05-23 08:20] raknam opened #179 "Add swipe to change page into Collection"
Hello,

Could you add swipe to navigate between Items/Villagers/Criters/Lists on Collection Section?

It will avoid to have to go from the bottom of the screen then on top.

Regards,

[2020-05-23 08:29] Dimillian commented on #179
Very good idea :)

[2020-05-23 08:30] #161 closed

[2020-05-23 08:30] #114 closed

[2020-05-23 09:58] Jerrot commented on #144
Not fixed though. Anyway, I think it might be a SwiftUI bug actually and mostly I was curious. :)

[2020-05-23 10:03] Dimillian commented on #144
I thought I fixed it... yeah so I think I have to set a width or numberOfLines I'll take another look.

[2020-05-23 10:05] TheVaan commented on #144
Maybe the problem is, that the text fits inside the line but the > overlaps, so the word get truncated. The rows where it breaks line correctly doesn’t fit in a single line so line break is necessary.

[2020-05-23 12:54] raknam opened #180 "Extend app color to notch zone"
Heya :)

I think you should extend the app color over the notch. It will remove the white part and make UI more beautiful on X series :)

![IMG_3227](https://user-images.githubusercontent.com/1375001/82731171-45d1dc00-9d05-11ea-8fbb-e233ed422dc6.png)

[2020-05-23 13:03] TheVaan commented on #180
Hey, this is an issue with your iOS version. You are on a version lower then 13.4, right? Apple fixed this bug. See here, iOS 13.5:
![55E084D8-937E-40B1-8931-16978B7DBBD8](https://user-images.githubusercontent.com/1108485/82731364-89791580-9d06-11ea-9d04-3e4b8788d787.png)

[2020-05-23 13:10] #180 closed

[2020-05-23 13:18] #105 closed

[2020-05-23 13:18] #110 closed

[2020-05-23 13:47] raknam commented on #180
I confirm I'm on 13.3.1. I will upgrade and open back the issue if it is still occurs :)
Thanks for your quick answer @TheVaan

[2020-05-24 10:23] raknam opened #182 "French translation misprint "villageois""
Hello,

In french, villageois always get a **s** at the end, singular and plural.

![IMG_3228](https://user-images.githubusercontent.com/1375001/82751708-66f40480-9db9-11ea-98d3-f1a4714adf82.jpg)

[2020-05-24 10:27] renaudjenny commented on #182
bien vu! @Dimillian do you want to fix it by directly pushing on master or could I create a PR?

[2020-05-24 10:28] Dimillian commented on #182
Thanks! Fixing :)

[2020-05-24 10:28] #182 closed

[2020-05-24 16:54] jackbentley opened #184 "White top bar"
For some reason, my app shows the top as white and doesn’t blend with the background. I’ve checked with my friend and theirs is the correct colour.

Device: iPhone XS

![9A840CDA-E25F-4F7F-B753-8493F1B9AAB6](https://user-images.githubusercontent.com/9383439/82759813-843fc780-9de7-11ea-824d-c1fa4c087ed9.jpeg)

[2020-05-24 16:55] jackbentley opened #185 "Collection Progress UI bug on launch"
Randomly when launching the app, some times the collection progress is collapsed partially.

Device: iPhone XS

![B1E3E34E-235A-4B29-B039-4B4A159661C1](https://user-images.githubusercontent.com/9383439/82759854-bd783780-9de7-11ea-91e1-ddec0241fb98.png)

[2020-05-24 17:30] Dimillian commented on #184
You need to update your devices to iOS 13.4/13.5 to fix this issue :)

[2020-05-24 17:30] #184 closed

[2020-05-24 18:55] raknam commented on #185
I got the same. Not on random, but on app launch. If I close it when it is on background, wait 10/15 sec, then open the app.

[2020-05-24 19:09] Dimillian commented on #185
It's fixed in the 1.4.5 aimed for mid next week :)

[2020-05-24 19:10] Dimillian commented on #185
You can build & run master to try it out.

[2020-05-24 20:39] raknam opened #187 "Sort Villagers"
Is it possible to sort villagers by name in the dedicated tab?

![image](https://user-images.githubusercontent.com/1375001/82764503-7736ce80-9e0f-11ea-81a4-7f51b1f3197f.png)

[2020-05-24 21:03] raknam opened #188 "Invalid species on villagers"
Curly does not have the good species.

![image](https://user-images.githubusercontent.com/1375001/82764904-c0d4e880-9e12-11ea-92ba-901518b456f6.png)

[2020-05-25 09:11] Dimillian commented on #187
It's been done :)

[2020-05-25 09:11] #187 closed

[2020-05-25 14:59] MrOgeid commented on #68
Hi @Dimillian I translated in Italian all the strings from Localizable.strings in the "de.lproj" folder into the same file in the "it.lproj" folder. But I'm not quite sure if I made a correct pull request.😬

[2020-05-25 15:54] ericlewis commented on #94
Yes

[2020-05-25 16:36] Dimillian commented on #188
It's on the API, will be fixed shortly without any app update :)

[2020-05-25 16:54] Dimillian commented on #188
Fixed :)

[2020-05-25 16:54] #188 closed

[2020-05-25 20:48] raknam commented on #188
Always good to get bugs self solving :D

[2020-05-26 08:15] BallisticFade opened #195 "Collection Tab Crash"
Not sure if this has already been reported but clicking on the collection tab (furthest to the right) causes an immediate crash, this occurs every time the tab is clicked. I have checked to make sure it was not a one time crash but it is very reproduce-able

[2020-05-26 08:24] Dimillian commented on #195
Are you on iOS 13.4 or 13.5 + latest app version?

[2020-05-26 08:25] BallisticFade commented on #195
I am currently on iOS 13.4 + latest app version, I will update my iOS now
to see if this resolves the issue

On Tue, 26 May 2020 at 09:24, Thomas Ricouard <notifications@github.com>
wrote:

[2020-05-26 09:05] BallisticFade commented on #195
I have just updates to iOS 13.5 and the crash is still occurring every time
I try and open the collection tab

On Tue, 26 May 2020 at 09:25, Ballistic Fade <ballisticfade@gmail.com>
wrote:

[2020-05-26 09:20] Dimillian commented on #195
Can you show me the about screen of your AC Helper app? So I can see version / build number? Thanks!

[2020-05-26 09:23] BallisticFade commented on #195
Of course, I’ll attach the screenshot to this email

On Tue, 26 May 2020 at 10:20, Thomas Ricouard <notifications@github.com>
wrote:

[2020-05-26 09:26] Dimillian commented on #195
Found an issue that could do that, will be fixed in 1.5.1 in a few days :)

[2020-05-28 05:07] JustCarousell opened #204 "Dashboard & TabView bug"
On the Dashboard the change section order have some bug going on like shifting some of the order will crash the app like shifting the order of the AC Helper+ and when hiding the section after relaunch of the app causes duplication and also unhide the section on it’s own. Below is a picture for reference.
![0688EC73-3BD1-45BF-8CFA-1FF54E570560](https://user-images.githubusercontent.com/66050990/830

[2020-05-28 06:58] #195 closed

[2020-05-28 06:59] #185 closed

[2020-05-28 06:59] Dimillian commented on #204
Yup @renaudjenny saw it too. Will fix :)

[2020-05-28 15:05] Dimillian commented on #68
Congrats to @mimikun for adding japanese in #136 !!

[2020-05-28 18:46] BenjaminNikolajew opened #206 "Dock Icon Treatment is Inconsistent"
I noticed that the outlines on the icons in the dock are inconsistently treated. It’s minor, but I noticed it right away. It looks like the outlines used for the Dashboard and Turnip icons are consistent (brown), but catalogue and collection are different (Catalogue is dark grey and Collection is dark blue). Then Villagers doesn’t have an outline at all.

That’s it!

[2020-05-30 11:52] rj1244 opened #207 "Rarity missing"
I think that rarity of critters should be re-implemented. As it was a very useful feature. Now it has been removed it is not possible to see how hard it is to catch a specific critter.

[2020-05-30 12:02] Dimillian commented on #68
Added credits in our readme :) https://github.com/Dimillian/ACHNBrowserUI#localizations-credits

[2020-05-31 12:48] mimikun opened #211 "Filter unmarked items"
I want to filter of unmarked item.
I think, it will help collecting items.

[2020-05-31 17:23] Dimillian commented on #68
I'll try to tag on this issue everything I'm adding to French localization (which should be everything we have to localize) so it give a change to anyone who wants to updated their localization file to do so :)

[2020-05-31 21:35] TheVaan commented on #115
Issue can be closed as this was solved by #186

[2020-06-01 08:43] TheVaan commented on #165
Done with 7d58c7719f7f18f86e663b7c27db46312681b615

[2020-06-01 08:43] #165 closed

[2020-06-01 08:44] TheVaan commented on #81
Done with 7d58c7719f7f18f86e663b7c27db46312681b615

[2020-06-01 08:44] #81 closed

[2020-06-01 08:47] TheVaan commented on #207
Marked as bug and enhancement because it was already there but is now missing.
A bring-back-feature-request :)

[2020-06-01 08:50] TheVaan commented on #206
We didn’t created the icons. They were provided from other sources. We aren’t able to modify each icon so they will fit together, but we will have an eye on this so we may find a better source for icons that are consistent.

[2020-06-01 08:51] #115 closed

[2020-06-01 11:07] TheVaan commented on #62
Problem should be solved a few commits ago.

[2020-06-01 11:07] #62 closed

[2020-06-01 11:14] Bonney commented on #58
I’ve actually got something you might like.... I will polish over the next few days

[2020-06-02 02:25] csardothien opened #218 "villager gift ideas: not showing for Fuchsia"
I have 10 villagers saved in my collection, the "gift ideas" section is showing for all villagers except Fuchsia. Network or parsing issue? Thanks!

A quick search: maybe related to this?

https://github.com/Dimillian/ACHNBrowserUI/blob/030dffd437322731d0478ed022314b0d99379454/ACHNBrowserUI/ACHNBrowserUI/views/villagers/VillagerDetailView.swift#L110-L126

`viewModel.preferredItems?.isEmpty` someho

[2020-06-02 10:54] rj1244 commented on #207
@TheVaan The information to calculate rarity is already in the JSON as “spawnRates” But no one is sure if the rate is per hour per day or what.

[2020-06-02 10:59] Dimillian commented on #207
Exactly that why I'm not adding it back for now. It mean next to nothing for now the way it is.

[2020-06-02 13:29] Dimillian opened #220 "Collection: variants saved don't display until you save the root item"

[2020-06-03 06:10] Dimillian commented on #218
![Simulator Screen Shot - iPhone 8 - 2020-06-03 at 08 09 32](https://user-images.githubusercontent.com/535509/83601803-9b15b500-a571-11ea-83a7-5fd0fe63cb33.png)

This bug made me pull my hairs out, but now it's resolved and we have an even better matching and displaying at preferred gifts :)

[2020-06-03 06:11] #218 closed

[2020-06-03 08:39] #204 closed

[2020-06-03 09:32] #34 closed

[2020-06-03 09:33] #64 closed

[2020-06-03 09:33] #70 closed

[2020-06-03 09:33] #129 closed

[2020-06-03 09:34] #94 closed

[2020-06-03 09:34] #87 closed

[2020-06-03 09:34] #78 closed

[2020-06-03 09:34] #130 closed

[2020-06-03 09:34] #75 closed

[2020-06-03 11:11] metalandcoffee opened #223 "Tooltips on Today’s Tasks?"
I love that there is a “Today’s Tasks” section ❤️❤️❤️ Thank you so much for this enhancement. But I must admit that I don’t know what all of them mean. Would it be possible to add some type of tooltip when you are pressing and holding on one of the tasks to get more info about it?

[2020-06-03 11:28] otaviocc commented on #211
I have a branch where I'm working on that :-) I might have something at the end of the day today.

[2020-06-03 11:40] TheVaan commented on #223
Hey,
I'm working on a feature where you can edit the tasks of the Today's Tasks section. There you'll see a name / short description. Would this be enough?
Short and long press are already assigned to other actions (short: increase progress; long: reset progress of single task).

[2020-06-03 12:03] metalandcoffee commented on #223
@TheVaan that sounds perfect. I truly appreciate it :)

[2020-06-03 14:08] dmndrz commented on #204
This bug is still not fixed in the latest release. Even after a clean install, the relaunch of the app still causes duplication and unhide sections. 😕

[2020-06-03 14:14] dmndrz commented on #204
This bug is still not fixed in the latest release (1.6.2). Even after a clean install, the relaunch of the app still causes duplication and unhide sections. 😕

[2020-06-03 14:15] dmndrz opened #224 "Dashboard bug"
This bug is still not fixed in the latest release (1.6.2).
Even after a clean install, the relaunch of the app still causes duplication and unhide sections. 😕

_Originally posted by @dmndrz in https://github.com/Dimillian/ACHNBrowserUI/issues/204#issuecomment-638226235_

![IMG_ADD80BBB6F05-1](https://user-images.githubusercontent.com/18632343/83647721-80652f80-a5b5-11ea-86da-dbad26d4518e.jpeg)

[2020-06-03 14:30] TheVaan commented on #224
The bug fix was commited 6 hours ago. It will be inside v1.6.3 that has been send to Apple 2 hours ago. Version 1.6.2 is 2 days old :)

[2020-06-03 14:30] #224 closed

[2020-06-03 14:32] Dimillian commented on #204
@dmndrz It'll be in 1.6.3 :) coming tomorrow.

[2020-06-03 14:36] TheVaan commented on #223
@metalandcoffee great! Let's test how this works. If you still need a tooltip I'll reopen this ticket and we're going to think about how we can do that.

[2020-06-03 14:36] #223 closed

[2020-06-03 15:28] TheVaan opened #225 "Automatic redirect to "add new task" after adding new task"
This is a known bug from #209 that seems to be related to a SwiftUI bug.

[2020-06-03 23:31] mimikun commented on #204
I still have this bug in my environment.
Many rows are duplicated.

<img src="https://user-images.githubusercontent.com/13450321/83698844-6e2ed400-a63d-11ea-9b5a-c3759e183b42.PNG" height="400px" width="auto" />

iOS ver: 13.5.1
App ver: 1.6.3

Do I need to uninstall the app and re-install?

[2020-06-04 05:49] Dimillian commented on #204
@mimikun Yes sorry. If you have iCloud it'll restore your state on the launch. I'll try to add a cleanup methods to remove duplicates.

[2020-06-04 05:51] mimikun commented on #204
Thanks.
Looking forward to the update.

[2020-06-04 10:13] otaviocc opened #226 "Missing Fish4"
Asset catalog doesn't have Fish4. For that reason, today, there's no image for the fish on the today section.

[2020-06-04 10:49] Dimillian commented on #226
It's fixed on master :)

[2020-06-04 10:49] #226 closed

[2020-06-05 01:08] JustCarousell opened #230 "Urgently need fix"
When clicking on the star to save item, especially for furniture such as houseware and miscellaneous. When you click the star on other variant of the same item it makes the first variant of the item being starred together and if I were to go and select another to star under the same item but different variant the star of the first variant goes off and it goes on and off as you click on different v

[2020-06-05 05:38] Dimillian commented on #230
Thanks for the feedback, this is a known issue, working on that :)

[2020-06-05 08:55] TheVaan opened #232 "Month in critter seasonality section not automatic translated"
I'm going to refactor the sections code so the month will be translated automatically.

[2020-06-05 14:02] #232 closed

[2020-06-05 18:26] Braadlee opened #236 "Wedding flooring & wall papers missing"
Just a minor, thanks!

[2020-06-05 21:36] TheVaan commented on #179
I added swipe feature with #235.
It will be part of the next update.

[2020-06-05 21:36] #179 closed

[2020-06-06 09:45] MrOgeid opened #237 "App crashes when changing order of Dashboard's sections"
I noticed that rearranging the Dashboard's sections always crashes the app.😟

[2020-06-06 20:47] Dimillian opened #242 "Items bugs todo"
- When opening item detail from villager detail items list, extra I do disappear.
- Adding item variant to collection toggle main item.

[2020-06-07 07:07] #242 closed

[2020-06-07 22:57] rohanrk commented on #25
Hi. Is anyone working on the first two notification categories? I'd like to take a stab at it if it's available

[2020-06-08 02:58] adamrais commented on #25
Hello, i am also interested about working on this issue as a first contribution, specially the notification for when the shops open or close. Let me know if we can divide this or work on it together.

[2020-06-08 04:22] rohanrk commented on #25
Hey I started on a branch on my fork. I'm mostly just reading through to make sure I understand the codebase but I'm down to contribute together. Not sure if there's a gitter or slack channel for the repo. Any preferred mode of communication?

[2020-06-08 05:21] TheVaan commented on #25
Hi,
thank you both for your interest in contributing.

Just a few thoughts about it: When adding notifications related to game time it would be good having an option in settings that controls wether game time is in sync with device time. With this information we also could control other time related content to be hidden.
Add new section „Notifications“ to settings screen, where user can enable dis

[2020-06-08 09:05] RSickenberg opened #243 "Keyboard dissapear on type for 2nd level catalog"
When I'm on a list of furniture for example and use the search bar, typing glitches the keyboard and makes him disappear.

I would love to dig into it and try to fix it!

[2020-06-08 09:38] TheVaan commented on #243
I can reproduce that. Seems to be a bug due to UI refresh.
You are welcome to fix it by your self! If you need any help tell us.

[2020-06-08 19:17] TheVaan commented on #237
Fixed by 2bf634887e66e60ff1b8ad7da8c09b27df072662

[2020-06-08 19:17] #237 closed

[2020-06-08 23:24] otaviocc opened #244 "Input Field Issues"
I don't remember seen this before, but maybe I'm wrong. When there's an input field, the text inside the field is right aligned, which makes it harder to tap (tapping on the input field positions the cursor at the beginning instead of end, which would be expected.). It also fails to capture blank spaces. Things get even harder when editing input field with numbers.

![01](https://user-images.githu

[2020-06-09 04:36] Dimillian commented on #244
Hmmm it didn't shocked me while using it on device, and it's a bit more estetically pleasing, but right for the turnip form it's a bit harder to use, @TheVaan you might want to recheck it.

[2020-06-09 05:48] TheVaan commented on #244
I agree it’s not perfect. It didn’t felt wrong when I tested my changes. Alignment to the left looked really stupid... I’ll rethink how to get a good look and feel.

[2020-06-09 09:56] TheVaan commented on #244
Fixed for turnip input in 87dc1ea5147f2bef2f90cfdb27c6b11df3c61dfe
Textfields on phone work bettern than in simulator. Let's wait for WWDC to see, if they will improve form view in SwiftUI.

[2020-06-09 09:56] #244 closed

[2020-06-09 10:23] RSickenberg commented on #243
@TheVaan I proposed a fix, it's to reuse the same search view as 1st level.

[2020-06-10 18:08] MrOgeid opened #249 "Fake art item's title missing "fake" in IT and ES"
It's not easy to identify the fake art items in the Catalog Art category because in Italian (but in Spanish too) their titles don't have the text `(Fake)`.  `(Falso)` in Italian.
I think that it's not a missing translation but something in the Catalog database file.

[2020-06-10 18:43] #249 closed, assigned to MrOgeid

[2020-06-11 16:20] MrOgeid opened #251 "App crashes when sharing a villager's info"
The app crashes when tapping the Share button in any villager's info page.😔

[2020-06-11 16:50] Dimillian commented on #251
Yeah and I have no idea why :(

[2020-06-11 18:15] Dimillian commented on #243
I'm on it :) Basically I'll allow search everywhere and it'll solve the problem that a conditional search bar cause.

[2020-06-11 18:23] MrOgeid commented on #251
Sorry, I'm not very helpful to resolve this. 😔

[2020-06-12 05:51] #243 closed

[2020-06-12 23:24] TheVaan commented on #211
@otaviocc are you still working on that or did you already pulled this? I lost the overview 😄

[2020-06-13 09:13] MrOgeid commented on #251
I don't know if this thing can help you: strangely if you tap share in the villagers page the app crashes but if you open the villager's card with a long tap from the residents widget in the dashboard and then tap share... it works.🤔

[2020-06-14 10:56] renaudjenny commented on #251
I tried so hard this morning to tackle this issue... I can't figure it out as well.
I just changed some code here and there to try but at least it's already a tiny improvement.
The crash message is really not helpful.

[2020-06-14 14:50] MrOgeid opened #261 "Version 1.7.3 completely missing Italian translation"
As title, the recent update doesn't show the Italian language anymore.

[2020-06-14 16:37] #261 closed

[2020-06-14 20:30] rohanrk commented on #25
Following up on this, I'm going to work on special events. All the events are listed here. https://animalcrossing.fandom.com/wiki/Events_(New_Horizons).

I don't think all of these are worth notifying users about (e.g mushroom season). Do we want to make a list of the important special events to send push notifications for? It'll be easy enough to add a setting to toggle special event notification

[2020-06-14 20:56] adamrais commented on #25
Hello, the toggle button is already implemented, we just need to add the logic in notificationManager!

[2020-06-14 20:58] Dimillian commented on #25
I think it’s worth to notify the user the first day the event start maybe ?!

[2020-06-14 22:00] jbivia opened #264 "Option to restore previous purchases ?"
Is it possible to add an option to restore previous purchase of AC helper + ? I’ve bought the lifetime option and I can’t restore it after a reinstall since there’s no option for it

[2020-06-15 04:31] TheVaan commented on #264
You don’t have the restore option in settings?

![image](https://user-images.githubusercontent.com/1108485/84618182-ba95d180-aed1-11ea-9aeb-6e5feab285f0.png)

[2020-06-15 07:10] TheVaan commented on #25
I think long-time events should have a "today starts xy" and maybe also a "today ends xy" (or even "tomorrow ends xy", so the users have enough time to do stuff).

[2020-06-15 07:28] jbivia commented on #264
it is, my bad, I'm just blind

[2020-06-15 07:28] #264 closed

[2020-06-17 08:23] blantt opened #266 "excuse me ,i download project not run in my Xcode"
excuse me ,i download project not run in my Xcode,
whenb preview,xcode show :
Select a scheme that builds a target which contains the current file, or add this file to a target that is built by the current scheme.

why it??  thks!

[2020-06-17 08:34] TheVaan commented on #266
Don't know if this is what you are looking for, but you have to select "ACNHBrowserUI" as scheme and a iOS simulator next to the "play" button in Xcode.

[2020-06-17 09:22] blantt commented on #266
thkank you very much ,i can run project!!

[2020-06-17 09:29] TheVaan commented on #266
Perfect! I'll close this issue. Feel free to use this issue for further questions.

[2020-06-17 09:29] #266 closed

[2020-06-18 14:24] otaviocc commented on #211
@TheVaan my bad, I never finished it. I'll resume the work. Sorry.

[2020-06-18 15:00] TheVaan commented on #211
No problem! If you don’t have time to continue working on that you could also create a draft PR and someone else continues working on that.

[2020-06-19 03:43] rohanrk commented on #68
I figure this thread is better than opening a new issue but there are quite a few strings that are in other languages that aren't in the English file (e.g: "Friendly Reminder") Should the English strings file be expanded?

[2020-06-19 04:23] TheVaan commented on #68
No. Swift uses the key as translation if there is no localization. So we only add a key to the English localization if it is an unreadable key.

[2020-06-25 03:25] alext8900 opened #272 "Label not updating when hitting this hedgehog looking guy"
![DA6D9DB3-760F-4C6A-817E-B2B2BD880878](https://user-images.githubusercontent.com/53663334/85649766-93759780-b669-11ea-9a37-df9425d4042e.png)
![ED06EEE0-1462-40BA-87F4-D6562151E5F1](https://user-images.githubusercontent.com/53663334/85649771-96708800-b669-11ea-82a4-e1f7cb15a100.png)

[2020-06-25 04:23] TheVaan commented on #272
Her name is „Label“. It comes from the French „la belle“ what means „the beautiful“.
You can read her persona here:
https://nookipedia.com/wiki/Label

[2020-06-25 04:25] alext8900 commented on #272
Had no idea 😂, thought it was the basic label you get in an iOS app. Then
again I forget this app was developed in swift ui. My apologies

On Wed, Jun 24, 2020 at 11:24 PM Jan van Heesch <notifications@github.com>
wrote:

[2020-06-25 04:28] TheVaan commented on #272
No problem 😁 I see that it could be a little bit confusing if you don’t know here already 😅

[2020-06-25 04:29] #272 closed

[2020-06-29 01:32] FaroukZeino opened #276 "Music Player Animation"
**When sliding up the player, controls appear above TabBar instead of appearing from underneath:**

![RPReplay_Final1593394037](https://user-images.githubusercontent.com/33427443/85964224-76bac600-b9c1-11ea-935c-a99bfe304f80.gif)

[2020-06-29 20:12] SooLazy304 opened #277 "Bell-Bag Rug"
The Bell-Bag rug is missing from the rug collections.

[2020-06-29 22:29] bilics opened #278 "Build Error"
Hi,

Can't seem to build commit 3ac29a8 (see image attached)

MacOS 10.15.4
Xcode 11.5 (11E608c)

Is this commit restricted to Mac Big Sur (and iOS 14)?

<img width="267" alt="Screen Shot 2020-06-29 at 19 25 45" src="https://user-images.githubusercontent.com/1649572/86062171-7ca2bc80-ba3e-11ea-9a75-b16b619e914e.png">

Interesting to notice that (unlike previous versions) Package Dependencies are l

[2020-06-30 04:52] Dimillian commented on #278
Main branch is only for Xcode 12 beta 1. If you want to compile it on stable Xcode you'll need to try the legacy branch.

[2020-06-30 12:39] bilics commented on #278
Thanks for the heads up!

[2020-06-30 12:39] #278 closed

[2020-07-02 10:21] mbuchetics opened #280 "Previews are not working with Xcode12-beta 1 (latest main)"
The app builds and runs fine using the simulator, but when trying to view a preview, it fails building the "Backend" target:

[code]

[2020-07-02 10:22] TheVaan commented on #280
This is a bug of Xcode 12. Should be fixed in on of the next beta releases.

[2020-07-02 10:23] #280 closed

[2020-07-05 10:16] VitaliyKamalin opened #281 "swipe left to right to previous page freezes app"
Swipe "left to right to the previous page" freezes the application.
The point is not to completely flip through the previous page, but only a little, and then “change your mind”.

_This happens, eg, when you scroll a long list and instead of scrolling down by mistake, scroll right and the page starts returning to the previous page. You cancel the animation to stay on this page and the application

[2020-07-05 11:18] Dimillian commented on #281
You perfectly describe the problem :) this is a known issue with SwiftUI and I hope it’ll be resolved by the time the 2.0 version come out with iOS 14 in September. Thanks!

[2020-07-05 13:25] Braadlee opened #282 "Incorrect spawn times on July bugs"
Scarab beetle & Giant stag:
App states: 13 - 08h
Is actually: 23 - 08h

Walking stick:
App states: 04 - 08h
Is actually: 04 - 08h & 17 - 19hr

Evening cicada:
App states: 04 - 08h
Is actually: 04 - 08hr & 16 - 19h

(May be others wrong too but haven’t noticed yet)

[2020-07-05 14:11] TheVaan commented on #276
Animations will be completely renewed within the iOS 14 release in september.

[2020-07-05 14:11] #276 closed

[2020-07-06 19:14] TheVaan commented on #282
We’re getting the data from a community source, so we don’t really have it in our hands what’s inside the dataset. We could change it, but it will be overwritten by further updates. We need to wait until the source is corrected.

[2020-07-07 23:26] devilbeast commented on #282
@TheVaan any chance you could point us to the source so we can report the inaccuracy to them? I wasted quite a bit of time searching for the scarab and giant stag because I was going off the times listed in AC Helper and I'm sure I'm not alone.

[2020-07-08 06:47] Dimillian commented on #282
I’ll do a re import in a while. The source is nookplaza API. The prickle is that the app don’t support multiple spawn time period for now. I’ll try to implement it :)

[2020-07-08 09:28] berrysauce opened #287 "App gets laggy/crashes when Browsing"
When browsing through e.g. the catalog the app gets more and more laggy and crashes at some point.

**Device:**
iPhone 8

**App Version:**
Newest (8. July 2020)

[2020-07-08 09:38] TheVaan commented on #277
I can’t confirm this. Found it on the top of the rug collection
![image](https://user-images.githubusercontent.com/1108485/86903242-5a303380-c10f-11ea-8b46-37d73b8dda21.jpeg)

[2020-07-08 17:25] Dimillian commented on #282
I've found a massive bug, it'll be resolved in 1.8.3 :)

[2020-07-08 17:26] #282 closed

[2020-07-08 19:05] emcro commented on #281
@Dimillian I can confirm it IS fixed in iOS 14 but you have to move away from the now deprecated navigiationBar leading/trailing buttons and use the new toolbar instead (still set to leading and trailing though). Thank goodness! I'll do a PR for that one this week to put that one behind us (though B2 has a bug where those don't appear in modals now, but shouldn't affect this app).

[2020-07-09 10:08] #277 closed

[2020-07-09 20:50] ralts00 opened #289 "request for critterpedia order in sea creatures"
Right now fish and insects can be ordered as critterpedia but not sea creatures

[2020-07-10 20:23] ralts00 opened #292 "filter turnip exchange for no fees island"
![Captura de pantalla 2020-07-10 15 23 31](https://user-images.githubusercontent.com/5034252/87200019-50e6c880-c2c1-11ea-979e-566d1393fece.png)

Currently it shows me all the islands, and I'd just like to see the ones that don't ask for a tip :)
thanks for the consideration :D

[2020-07-11 04:16] devilbeast opened #294 "Background audio pauses after cold starting app"
When cold starting the app, background audio is paused. The issue doesn’t occur if audio playback is started after AC Helper has been launched. I’ve experienced the bug in both 1.8.2 and 1.8.3.

AC Helper 1.8.3
iOS 13.5.1
iPhone 11
Airpods Gen 2 (if that’s somehow relevant)

[2020-07-11 05:54] ralts00 opened #295 "tiger prawn catch schedule"
error in the time that you can catch tiger prawn, it is 12:53 am and I just caught it, in the app it says that they stop appearing at 12am.

[2020-07-11 06:38] jyee999 opened #296 "Crashes When Quickly Tapping Between Dashboard and Other Tab Bar Items"
App crashes when you repeatedly tap different bottom row items quickly.  I suspect that it might actually be something with the DASHBOARD button because tapping all the other buttons didn't seem to cause a crash.

App Version 1.8.3 (070812020)
Game Patch Data 1.3.0
iPhone X on iOS 13.4.1

[2020-07-11 06:39] pavm035 opened #297 "Looks like typo"
**souce code**
<img width="421" alt="Screen Shot 2020-07-11 at 15 30 34" src="https://user-images.githubusercontent.com/6092412/87218334-a5a34580-c38c-11ea-8393-43e184dbebd7.png">

[2020-07-11 06:52] TheVaan commented on #296
Hi!

I can’t reproduce this under iOS 13.5.1.
iOS 13.4 had several bugs in SwiftUI that has been fixed by Apple in 13.5. This must be one of them.
If possible, please update to iOS 13.5.1.

[2020-07-11 06:54] TheVaan commented on #297
Thank you very much!
🤦🏼‍♂️ how could we missed that?

I’ll fixing this.

[2020-07-11 07:10] #297 closed

[2020-07-11 12:15] jyee999 commented on #296
I've updated the iPhone X to latest iOS and still encountered the crash.  I've also tested on iPad Pro 12.9 (2nd generation), iPhone XS Max and an iPhone 6S.  All devices are on 13.5.1.

Strangely I haven't been able to crash it on the iPhone 6S but it crashes very quickly on the iPhone XS Max but not as quickly on the iPad Pro and iPhone X.  (Timing related?)

Attached is screen recording of the

[2020-07-11 13:05] TheVaan commented on #296
I'm sorry that my solution didn't worked. I've reopened the issue and assigned @Dimillian to take a look on that. Maybe it has been fixed for upcoming iOS 14 release, because he rewrote parts of the app for iOS 14 and the newest SwiftUI version.

[2020-07-12 18:56] shpemu opened #298 "Bug-Off Contest date incorrect"
Hi there. Just switched to this app today and I’m loving it! Thank you! I had one error I wanted to request be fixed. I see the Bug-Off listed as July 18. The date should be July 25. ACNH (New Horizons) has this event every fourth Saturday, while ACNL (New Leaf) has it every third Saturday.

Thank you!

[2020-07-12 20:24] daleaFox opened #299 "Collection progress list won’t save"
I was initially able to add in 36 fish that I’ve caught, to keep track. But afterwards whenever I add more they disappear as soon as I close the app this goes for bugs and sea creatures, and I’d assume everything else. They are all removed from the list when the app is closed. I can go back and add them back, but again they will just disappear. Hopefully this will be fixed soon.

[2020-07-12 20:36] Dimillian commented on #299
Could you check if your iCloud Drive is full?

[2020-07-13 08:21] randex opened #301 "News content is clipped (+ localization issue)"
I think this screenshot says everything :) Some SwiftUI problems I guess in the news section, and in Russian we have pretty long name for Monday, so the text doesn’t fit in the title.

![A653685A-FF7E-4909-B71C-82398FDC6C00](https://user-images.githubusercontent.com/5007929/87280315-ae198e80-c4fa-11ea-84c9-8b85d07d57f5.jpeg)

[2020-07-22 08:56] MrOgeid opened #304 "Posters show wrong villager's picture"
A lot of villagers posters in the Catalog show the wrong picture. Only the English language has the correct ones.

![bug_poster1](https://user-images.githubusercontent.com/65610069/88156471-c4fe6600-cc09-11ea-9628-433dd100e5fa.jpeg)
![bug_poster2](https://user-images.githubusercontent.com/65610069/88156493-ccbe0a80-cc09-11ea-91f3-c4f44c12954a.jpeg)

[2020-07-22 14:10] ericlewis commented on #298
library for this is here: https://github.com/ericlewis/Date-ACNHEvents

[2020-07-22 14:39] shpemu commented on #298
I don’t know what this means. I was using the app and was directed to post issues at GitHub. I don’t know how to edit the code for picking the bug off say, but it should be the 4th Saturday, not the 3rd.

Thank you,
Sharon

[2020-07-24 01:35] faizmokhtar commented on #298
@ericlewis @shpemu I'm quite interested to pick this up but I don't really have much of a context (the correct date) on this since I'm still a new Animal Crossing player. Will try to take a look on the library.

[2020-07-24 09:02] shpemu commented on #298
The bug off happens every 4th Saturday instead of every 3rd Saturday. I just don’t know enough about how this code is written to properly update it. I hope that helps.

Thank you,
Sharon Murphy

[2020-07-29 23:16] chemarawr opened #306 "Missing spawn time for Evening cicada"
The app only shows 04:00-08:00 as the spawning time for evening cicada when it also has a second timeframe during the day: 16:00-19:00
![4F22776C-FC99-4844-A0FE-6344958E878D](https://user-images.githubusercontent.com/66854147/88863124-9cf1a280-d1c7-11ea-8a11-ab9f751badef.png)

[2020-07-30 00:09] chemarawr commented on #306
Apparently this is the case for the walking stick as well

[2020-08-01 12:27] toddross opened #307 "Upgrading to lifetime subscription"
I can’t figure out how to upgrade from monthly to a lifetime subscription.

[2020-08-01 12:50] TheVaan commented on #307
Hi!
You need to end your monthly subscription. You can do that in your subscription settings inside the iPhone settings app:
Go to settings -> iCloud -> subscriptions
There you can select AC Helper subscription to end it.

Then you can do a new in app purchase.

[2020-08-01 12:58] toddross commented on #307
Thanks!

My monthly subscription ends August 11. I have canceled it, but it remains
active until then. Will the lifetime subscription still be an option in
10-11 days?

On Sat, Aug 1, 2020 at 7:50 AM Jan van Heesch <notifications@github.com>
wrote:

--

[image: Four Kitchens logo] <https://www.fourkitchens.com/>
Todd Ross Nienkerk he/him
CEO and Co-Founder
833-WEB-CHEF (833-932-2433) x701
Importan

[2020-08-01 13:02] TheVaan commented on #307
To be honest I don't know the plans @Dimillian has, but I think this sale will be up for several days ;)

[2020-08-01 13:03] Dimillian commented on #307
@toddross to access the subscribe / lifetime again you can delete and reinstall the application. If you have iCloud sync enable all your data will be restored :)

[2020-08-02 22:45] toddross commented on #307
That worked!!! Thank you.

On Sat, Aug 1, 2020 at 8:03 AM Thomas Ricouard <notifications@github.com>
wrote:

--

[image: Four Kitchens logo] <https://www.fourkitchens.com/>
Todd Ross Nienkerk he/him
CEO, Owner, and Co-Founder
833-WEB-CHEF (833-932-2433) x701
Important websites. BIG results. <https://www.fourkitchens.com/>
Podcast: The Future of Content
<https://www.fourkitchens.com/the-future-of-c

[2020-08-03 06:53] #307 closed

[2020-08-03 08:11] TheVaan opened #310 "Wrong german localization of items"
There are several localizations mapped to the wrong items. This is not an issue of AC Helper, but of the API. We can't do anything - this issue is for documenting that this issue is known.

More details: https://twitter.com/thalgrund/status/1290197664919822336?s=21

[2020-08-07 20:49] acnhlover opened #313 "Crackle?"
There’s a villager named Crackle on this app, he’s a lazy pig. But that isn’t his name in acnh. His name is Spork.

[2020-08-10 23:57] leximeat opened #314 "Issue"
AC Helper app won’t let me sync my iCloud even thought iCloud is on for it in the settings. I even deleted and reinstalled the app.

[2020-08-14 21:52] polak0v opened #315 "[feature request] Catalog scanner"
Hi, and thanks to the team for this great job, so far it has been my favorite companion app for ACNH!

I was wondering if you plan to integrate https://github.com/EhsanKia/CatalogScanner (like ACNH.guide does it for example).
It would be useful to add our collection list to the app (with also a button to add all of them directly, instead of checking each).

[2020-08-16 19:39] nimadera commented on #236
This looks like it was resolved

![image](https://user-images.githubusercontent.com/9198898/90342431-575e1380-dfd6-11ea-9be0-61741449d695.png)

![image](https://user-images.githubusercontent.com/9198898/90342439-5f1db800-dfd6-11ea-9fd0-4c51a9013ac6.png)

[2020-08-16 20:49] nimadera commented on #292
This seems like it needs to be fixed in the [turnip.exchange](https://turnip.exchange/) app rather than here.

[2020-08-16 23:19] nimadera commented on #304
The localized items resource looks like it's using the correct `internalId` for entries whereas the ids for [posters](https://github.com/Dimillian/ACHNBrowserUI/blob/main/ACHNBrowserUI/Packages/Backend/Sources/Backend/Resources/json/posters) become out of sync with what's in the data spreadsheet; "Jack's poster" is the last entry where `internalId` matches between this app and the spreadsheet. It

[2020-09-02 16:10] #298 closed

[2020-09-02 16:19] ericlewis commented on #314
@leximeat do you have a full phone?

[2020-09-02 16:19] #313 closed

[2020-09-02 16:19] ericlewis commented on #313
@acnhlover you said 2 different things for one persons name...

[2020-09-02 16:20] ericlewis commented on #310
I almost tagged you in this @TheVaan lmao

[2020-09-20 11:15] jyee999 commented on #296
Could not reproduce with iOS 14 when it went live.  Thanks!

[2020-09-20 11:15] #296 closed

[2020-09-20 23:59] jkdabomb opened #318 "No way to go back from collections tab or active creatures"
Once you click on the active creatures tab there’s no way to go back to the homepage, only way to go back is to close and reopen the app. Also can’t go back from opening up an individual creature or catalogue items.

[2020-09-21 20:18] renaudjenny commented on #318
I experienced the same issue after updating to iOS 14. Don't worry, I heard that the app will be updated very soon 😉.

[2020-09-21 22:54] dungi opened #319 "Turnip Page & Widgets are empty in 2.0.0"
![image](https://user-images.githubusercontent.com/3323565/93829551-296f8d00-fc6e-11ea-9cda-967c12a79f9d.png)

[2020-09-21 22:56] dungi commented on #319
Widgets are empty too ![image](https://user-images.githubusercontent.com/3323565/93829631-5cb21c00-fc6e-11ea-92bb-dc2a4ff2d817.png)

[2020-09-23 07:31] AndyH0ng commented on #68
I think I'm done with Korean one. Is there anything missing I have to do?

[2020-09-23 07:42] dungi commented on #319
It's fixed in 2.0.2

[2020-09-23 07:42] #319 closed

[2020-09-23 10:04] TheVaan commented on #318
Should be fixed by e2dc77d

[2020-09-23 10:04] #318 closed

[2020-09-23 17:49] jkdabomb commented on #318
The back button is there now. Only thing now the bugs category won’t load at all. No matter the length of time you wait for it to load.

[2020-09-24 20:11] renaudjenny opened #321 "Active Critters View: When captured all critters, it will display a RowLoadingView instead of the caught critters"
To reproduce, simply "catch" all the critters from a category, and it will display a Loading indicator.
![Simulator Screen Shot - iPhone 11 - 2020-09-24 at 21 06 21](https://user-images.githubusercontent.com/2297556/94194954-53ad8e80-feaa-11ea-9603-ba36d2c28e5d.png)
![Simulator Screen Shot - iPhone 11 - 2020-09-24 at 21 07 22](https://user-images.githubusercontent.com/2297556/94194966-56a87f00-fea

[2020-09-24 20:27] #321 closed

[2020-09-27 23:12] devilbeast opened #323 "Insect screen hangs in “active critters” view"
In iOS/iPadOS 14.0.1, the insect screen in the “active critters” view never loads. I’m using version 2.0.2 of the app, game patch version 1.3.0.

![F680EF54-6E74-4E0A-BD3D-C603FDDD6FA1](https://user-images.githubusercontent.com/67984817/94378157-fef15a00-00db-11eb-89c8-68ebf4e20370.jpeg)

[2020-09-28 07:16] renaudjenny commented on #323
Do you, by any chance, caught all critters of a kind? I mean for instance, caught all the insects, or all fish?
In that case, it could be a duplicate of this ticket: https://github.com/Dimillian/ACHNBrowserUI/issues/321 and it's already been fixed 🎉 and it would be available in the next publication of the app.

Let us know if it's something else, and how can we reproduce?

Thanks.

[2020-09-28 07:59] devilbeast commented on #323
@renaudjenny You’re absolutely right — I had collected all the insects. Later this evening, I caught the remaining active fish and sea creatures, and now those tabs hang as well. Sounds like a duplicate of #321. Thanks!

[2020-09-28 07:59] #323 closed

[2020-09-28 16:36] renaudjenny commented on #323
I wish I could catch all fish 😞, I still have these bloody Sturgeon and Giant Trevally to catch 😂

[2020-09-28 16:47] devilbeast commented on #323
I hear you! After _months_ of fishing, I finally caught the barrel eye last night! It just refused to spawn!

[2020-10-05 07:44] renaudjenny opened #325 "Today's date not updated automatically"
![image](https://user-images.githubusercontent.com/2297556/95052311-007bdd00-06ef-11eb-8675-3f2e87ec7298.png)
As you can see, the date of Today is not updated if the app was already open from the day before (the date is still the 4th October while today is the 5th).

We can either update the date when the app goes to foreground, or adding a pull to refresh on the first tab. Or both 😳. 😂.

[2020-10-10 04:38] wirekitty opened #328 "Unable to load critter pages"
I am attempting to access the critter pages to update the newest critters I have donated. The spinning wheel appears and the pages never load no matter what critter family I select. I have let it spin for over 30 minutes. I have reloaded app. I have deleted app and redownloaded. Nothing is working to make the critter lists load.
![1C36877C-A841-4349-AEB6-1234E679C113](https://user-images.githubuse

[2020-10-10 07:04] TheVaan commented on #328
Thank you for your ticket. It seems to be a duplicate of #321 that already got fixed. The update will be rolled out soon.

[2020-10-10 07:04] #328 closed

[2020-10-10 07:18] #325 closed

[2020-10-10 07:25] TheVaan commented on #289
This was fixed a few weeks ago by 614562f.
Sorry for the delayed update.

[2020-10-10 07:25] #289 closed

[2020-10-10 07:28] TheVaan commented on #225
Big still exists.

[2020-10-10 19:54] kimmerzz opened #329 "Getting invalid Dream code error"
I accidentally deleted my dreamcode and I’m unable to re add it can you please fix this issue ??

[2020-10-12 02:27] #329 closed

[2020-10-21 19:54] jludorf opened #330 "fish/bug/sea creature menu keeps loading"
When you collect every fish/ insect/ sea creature you can in a month the app keeps on loading the screen. It doesn’t crash but also doesn’t display any additional information anymore either.

You don’t even need to catch all of them. Emptying the list of the ongoing month seems to be enough.

Happens on both my iPhone and iPad Running iOS and iPadOS 14.

[2020-10-21 20:20] TheVaan commented on #330
Which version of AC Helper is running on your devices?

[2020-10-21 20:27] renaudjenny commented on #330
Looks a duplicate of #323 to me. It has been fixed recently and the fix has just been publish today.
Please tell us if you can replicate after updating to 2.0.3.
Thanks :).

[2020-10-21 20:28] renaudjenny commented on #330
Actually a duplicate of #321 😂.

[2020-10-21 22:39] jludorf commented on #330
I just checked and the bug still is present in the most recent version.

Also sorry for not noticing when creating a duplicate report. I really just made this account to report this bug and have zero experience with GitHub.

[2020-10-22 07:29] renaudjenny commented on #330
@jludorf no problems, actually my bad, I just checked the last version an indeed, the problem still here, I will check later why today.
And don't worry about the duplicate report, that happens all the time on GitHub 😂.
By the way: Welcome to GitHub, and moreover, thank you for this report, knowing that you created an account especially for AC Helper encourages us to continue developing a better ap

[2020-10-23 07:28] #330 closed

[2020-10-24 13:06] kevinwpq3 opened #332 "Unable to Download"
I’m unable to download newest version update from App Store.

Push update button get circle icon up spins to about 40% then update button pops back

[2020-10-24 13:13] renaudjenny commented on #332
This is weird, as the download is managed by the AppStore (Apple).
Please check if you still have enough free space to install it or try to restart your iPhone.
Did you try to download/update another application of ~45 MB by any chance?

[2020-10-24 13:38] Dimillian commented on #332
Are you on iOS 14?

[2020-10-25 17:00] kevinwpq3 commented on #332
Running version 14.1 and have over 200GB available

[2020-10-25 19:14] TheVaan commented on #332
This sounds weird. As mentioned before, update process is managed by App Store.
If you have iCloud enabled you can delete and reinstall app without loosing your data.
Or you can try a soft reset (restart iPhone with volume up, volume down, off-button) and test if it works after soft reset.

[2020-10-31 14:52] nacmcfeegle opened #334 "Today’s Birthday infinite spinning"

[2020-10-31 15:01] renaudjenny commented on #334
Hi @nacmcfeegle, thank you for reporting this bug.
Unfortunately, it's hard to understand what exactly happens to you.
I believe this could be related to the bug #330 ? Tell me otherwise.

About the #330 and other mentioned bugs in it, it is fixed on `main` branch, and the fix should be available soon via an AppStore update.

Will keep you in touch when it will.

Thanks Again :).

[2020-10-31 15:03] nacmcfeegle commented on #334
I don’t think I’ve caught all active critters - I haven’t played for a few weeks and right hand menu bar says there is at least 1 new critter in each category that I haven’t caught. Critters page doesn’t show anything - just the spinning wheel.

[2020-10-31 15:06] nacmcfeegle commented on #334
![IMG_0238](https://user-images.githubusercontent.com/73749369/97782636-8e31d780-1b8a-11eb-9b9a-9bc4d8503cf0.png)

Today’s birthdays also appears to be spinning but was working earlier.

PS thanks for the super quick response!

[2020-10-31 15:11] renaudjenny commented on #334
Actually since the last update (2.0.3), I (sorry) broke the entire Critters view :(, even if you haven't caught all the critters.
But in the future one, everything is fixed 😅. We submitted to review very recently.
However, I didn't know about the Today's Birthday.

[2020-10-31 15:14] nacmcfeegle commented on #334
Haha! Ok, sorry didn’t realise... just a case of waiting until it’s approved then?

I updated my residents this morning - today’s birthday was showing as Tex’s birthday when i opened up the app, which I think was a couple of weeks ago. When I updated residents, it’s now just spinning.

Great app, btw. I did notice another bug previously on the catalogue but didn’t know how to report. Now I do I’ll

[2020-10-31 15:28] renaudjenny commented on #334
Yes... hopefully it will be today.

I just noticed that I experience the same issue with my Today's Birthday as well (infinite spinning). I will have a look.

If I may, I could use this ticket for that, could you edit the title to reflect The Today's Birthday infinite spinning? Thank you :)

[2020-10-31 16:04] nacmcfeegle commented on #334
Done!

[2020-10-31 16:06] renaudjenny commented on #334
Thanks a lot, and believe it or not... There is no birthday today :D
That's the reason there is an infinite spinner there, it's because we haven't handle no birthday... 😂.
I will fix this issue... but tomorrow it would be fine anyway I guess...

[2020-10-31 16:17] Dimillian commented on #334
Update is out :)

[2020-11-10 08:52] #334 closed

[2020-11-10 09:04] TheVaan commented on #332
@kevinwpq3 Anything new with your issue? Is updating still not possible?

[2020-11-17 09:26] TheVaan commented on #332
Closed issue. No response for about 3 weeks. App updating is part of App Store, not of the app.

[2020-11-17 09:26] #332 closed

[2020-11-17 09:28] TheVaan commented on #314
@leximeat do you still have the bug?

[2020-11-17 09:29] TheVaan commented on #299
Closed due to missing response.

[2020-11-17 09:29] #299 closed

[2020-11-17 09:30] TheVaan commented on #301
@randex is the news content still clipped?

[2020-12-12 22:05] Arnoud-B commented on #220
It took some testing to figure out why starred items didn't show up in the collection. Glad to see it's already reported.

[2020-12-12 22:12] Arnoud-B commented on #44
That would be great indeed. I have my phone set to English but the game is set to French. Makes it quite hard to find items 😉

[2020-12-14 07:07] TheVaan commented on #44
Hey @Arnoud-B, you already can do that. You can set App language to a different then device language. Go to iOS settings app, scroll down to app section, select AC Helper and set language to French.
(Screenshots are German, but I think you'll get what to do)
![image](https://user-images.githubusercontent.com/1108485/102050587-679ac980-3de3-11eb-8ca7-1b19566020cf.png) ![image](https://user-images.g

[2020-12-14 10:50] Arnoud-B commented on #44
Thanks @TheVaan. That solves it indeed, but I think most users won't go to the Settings app to find this option but instead rely on the app settings (in the app itself). Why not expose it there?

[2020-12-14 10:56] TheVaan commented on #44
We did this because of apples localization guide lines. There are ways to build in a translation Switcher inside an app but this is often buggy (for SwiftUi). We decided to use the Apple way (introduced in iOS 13) and not to implement a buggy way. I agree it's not that easy to find but it's the way Apple wants us to do.

[2020-12-14 11:23] Arnoud-B commented on #44
OK, good to know. Perhaps a mention in the app with a direct link to the AC Helper section in the Settings would be worth considering? (I've seen that in several apps)

[2020-12-27 22:36] renaudjenny commented on #230
I'm thinking about putting a "half" star if you star the item but none of the variants or only few of them. And give the full star if all variants have been selected, as you mentioned, that will provide a better look to what hasn't been fully completed yet.
I will certainly work on it tomorrow and provide some videos with the idea.

As I've finished with all critters, I wanted to start completing

[2020-12-28 15:35] renaudjenny commented on #230
Here is a potential behaviour that could fix this issue.

![](https://user-images.githubusercontent.com/2297556/103225517-f817f480-4921-11eb-8147-af2af7811c38.gif)

Sorry for the quality, it seems we now have to convert back again our videos to GIF :(.

[2020-12-29 20:08] renaudjenny commented on #230
This shouldn't have been automatically closed, I reopen the issue, after merging #338 then yes we could consider this issue to be fixed.

[2021-01-04 17:37] #230 closed

[2021-03-20 18:32] ericlewis commented on #315
I actually tried to do a version of this. Very cool idea and it will be considered.

[2021-03-22 07:04] Dimillian commented on #315
Yeah! This is definitely something we've been thinking about and that @ericlewis started to build. Would love to have that built in!

[2021-04-25 18:03] jkdabomb opened #342 "Missing Sanrio villagers"
Missing the Sanrio villagers to add to search, favorite, or add as a neighbor.

[2022-01-15 21:57] ahmdyasser opened #343 "The date is overlapping with the tableview"
(This problem occurs on my iPhone 8)

![image](https://user-images.githubusercontent.com/42544598/149638949-230a25bd-76fb-4d95-98fe-5a596f51cb21.png)

[2022-01-19 14:58] Elmerald commented on #342
Also missing Sasha!

[2022-10-07 17:56] #101 closed

[2022-10-07 17:56] #58 closed